<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/screenshots/pricing-6-2.jpg
  label: Pricing - Commodore
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area" class='body-container', label='Main section' %}
  
  <!----------------------- HEADER FOOTER OVERRIDES  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "header_footer_overrides"
        path='../modules/commodore - Style - Header Footer Override',
        label="Header Footer Override",
        offset=0,
        use_alt_nav=false
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- HERO BANNER  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "hero_baner_1"
        path='../modules/commodore - Hero Banner',
        label="Hero Banner",
        offset=0
      %}
        {% module_attribute "start" is_json=True %} 
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h5>Pricing</h5><h1>Start Converting Today</h1>",
            "style": {
              "content_align": "center",
              "content_align_mobile": "center",
              "font_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "image",
            "bg_image": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/heros/laptop-glow.jpg"
            },
            "bg_position": "right top",
            "bg_size":"cover",
            "overlay_bg": "gradient",
            "color_1": {
              "color": "#33475b",
              "opacity": 40
            },
            "color_2": {
              "color": "#000000",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "200px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "200px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "150px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- PRICING TABLE  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "pricing_table"
        path='../modules/commodore - Row - Pricing Table',
        label="Pricing Table",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "3",
            "price_toggle": true,
            "toggle_1": "Billed monthly",
            "toggle_2": "Billed annually"
          }
        {% end_module_attribute %}
        {% module_attribute "content" is_json=True %}
          {
            "package_1": {
              "title": "Email Pack",
              "sub_title": "9 Email templates",
              "price": "$197",
              "price_2": "$114",
              "desc": "<p style='text-align: center;'>All the email templates you will need to run an awesome marketing campaign.</p><p style='text-align: center;'><strong>6 Newsletter templates</strong><br><strong>3 Simple email templates</strong></p>",
              "col_bg_color": {
                "color": "#f2f5f8",
                "opacity": 100
              }
            },
            "package_2": {
              "title": "Theme",
              "sub_title": "Every. Single. Template.",
              "price": "$997",
              "price_2": "$697",
              "desc": "<p style='text-align: center;'>Get every single template in the commodore series.</p><p style='text-align: center;'><strong>37 Website pages</strong></p><p style='text-align: center;'><strong>16 Landing Pages</strong></p><p style='text-align: center;'><strong>9 Email templates</strong></p><p style='text-align: center;'><strong>2 Blog templates</strong></p><p style='text-align: center;'><strong>2 Error Pages</strong></p><p style='text-align: center;'><strong>All System Pages</strong></p>",
              "highlight_package": true,
              "highlight_title": "This is the one you want.",
              "highlight_title_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "highlight_bg_color": {
                "color": "#ff7a59",
                "opacity": 100
              },
              "col_bg_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "shadow": true,
              "drop_shadow": {
                "color": "#000000",
                "opacity": 20
              }
            },
            "package_3": {
              "title": "Landing Page Pack",
              "sub_title": "Start Converting Today!",
              "price": "$497",
              "price_2": "$297",
              "desc": "<p style='text-align: center;'>With plenty of options and variety to choose from you will be split testing like a champ.</p><p style='text-align: center;'><strong>16 landing pages</strong></p>",
              "col_bg_color": {
                "color": "#f2f5f8",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_color": {
              "color": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "0px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": true,
              "content_bg_color": {
                "color": "#ffffff",
                "opacity": 0
              },
              "pull_up_num_desktop": 200,
              "pull_up_num_tablet": 150,
              "pull_up_num_mobile": 150,
              "con_padding": 25,
              "con_padding_mobile": 25,
              "toggle_label_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "toggle_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}

      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- LOGO SCROLLER  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "logo_scroller"
        path='../modules/commodore - Row - Logo Scroller',
        label="Logo Scroller",
        offset=0
      %}
        {% module_attribute "start" is_json=True %} 
          {
            "num_logos": 5 
          }
        {% end_module_attribute %}
        {% module_attribute "logo_group" is_json=True %}
          [
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-entrepreneur-mag.png"
                }
              },
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-fast-company.png"
                }
              },
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-forbes-logo.png"
                }
              },
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-mashable@2x.png"
                }
              },
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-ny-times@2x.png"
                }
              },
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-techcrunch@2x.png"
                }
              },
              {
                "logo": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/logos/gray-wired@2x.png"
                }
              }
          ]
        {% end_module_attribute %}
        {% module_attribute "slider_options" is_json=True %} 
          {
            "auto_rotate": true,
            "dots": true,
            "show_arrows": false,
            "make_logos_links": false,
            "section_title": true 
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "50px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_1"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>Frequently Asked Questions</h2><p>You have questions. I get it. I also have answers.</p>",
            "settings": {
              "align_desktop": "center",
              "align_mobile": "center",
              "show_divider": true,
              "custom_text_color": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "10px",
              "padding_bottom": "10px",
              "padding_top_tablet": "0px",
              "padding_bottom_tablet": "10px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN ACCORDION  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_accordion_1"
        path='../modules/commodore - Row - Multi-Column Accordion',
        label="Multi-Column Accordion",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "",
            "settings": {
              "show_divider": false
            },
            "accordions": [
              {
                "title": "Question goes here.",
                "content": "<p>Schlitz bicycle rights polaroid lo-fi hell of chambray portland everyday carry pabst. Next level schlitz retro messenger bag synth, organic put a bird on it.</p>"
              },
              {
                "title": "Question goes here.",
                "content": "<p>Schlitz bicycle rights polaroid lo-fi hell of chambray portland everyday carry pabst. Next level schlitz retro messenger bag synth, organic put a bird on it.</p>"
              },
              {
                "title": "Question goes here.",
                "content": "<p>Schlitz bicycle rights polaroid lo-fi hell of chambray portland everyday carry pabst. Next level schlitz retro messenger bag synth, organic put a bird on it.</p>"
              }
            ]
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": " ",
            "settings": {
              "show_divider": false
            },
            "accordions": [
              {
                "title": "Question goes here.",
                "content": "<p>Schlitz bicycle rights polaroid lo-fi hell of chambray portland everyday carry pabst. Next level schlitz retro messenger bag synth, organic put a bird on it.</p>"
              },
              {
                "title": "Question goes here.",
                "content": "<p>Schlitz bicycle rights polaroid lo-fi hell of chambray portland everyday carry pabst. Next level schlitz retro messenger bag synth, organic put a bird on it.</p>"
              },
              {
                "title": "Question goes here.",
                "content": "<p>Schlitz bicycle rights polaroid lo-fi hell of chambray portland everyday carry pabst. Next level schlitz retro messenger bag synth, organic put a bird on it.</p>"
              }
            ]
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "10px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "10px",
              "padding_bottom_mobile": "10px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_2"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h4>More questions?</h4><p>Do not hesitate to contact us at <a href='mailto:help@yourcompany.com' rel='noopener'>help@yourcompany.com</a></p>",
            "settings": {
              "align_desktop": "center",
              "align_mobile": "center",
              "show_divider": true,
              "custom_text_color": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#f2f5f8",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "100px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}
