<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/screenshots/video-library-6-2.jpg
  label: Video Library - Commodore
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
    {% dnd_area "dnd_area" class='body-container', label='Main section' %}

 <!----------------------- HEADER FOOTER OVERRIDES  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "header_footer_overrides"
        path='../modules/commodore - Style - Header Footer Override',
        label="Header Footer Override",
        offset=0,
        use_alt_nav=false
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  <!----------------------- MAGIC MODULE ----------------------->
  
  {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='TOP'
    %}
      {% dnd_module "magic_module_01"
        path='../modules/COMMODORE - Magic Module',
        label="Hero Area (Magic Module - Pro)",
        start={
          "num_cols":2,
          "two_col_arrangement": "opt4"
        },
        col_1={
          "content": [
            {
              "type":"text",
              "rich_text":"<h1 style='color:#ffffff;'>Video Library</h1><h4 style='color:#ffffff;'>Its all about video these days.</h4><p style='color:#ffffff;'>If you are looking to organize your video content on a single page to help people discover what they are looking for, this template is for you.</p>"
            }
          ]
        },
        col_2={
          "content": [
            {
              "type":"text",
              "rich_text":"<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg' alt='example' />"
            }
          ]
        },
        style={
          "section":{
            "bg":{
              "type":"image",
              "image":{
                "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/heros/video-chair.jpg"
              },
              "add_parallax": true
            }
          },
          "row":{
            "spacing": {
              "desktop": {
                "padding": {
                  "top": {
                    "value": 200
                  },
                  "bottom": {
                    "value": 200
                  }
                }
              },
              "tablet": {
                "padding": {
                  "top": {
                    "value": 200
                  },
                  "bottom": {
                    "value": 100
                  }
                }
              },
              "mobile": {
                "padding": {
                  "top": {
                    "value": 150
                  },
                  "bottom": {
                    "value": 100
                  }
                }
              }
            }
          }
        }
      %}  
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  <!----------------------- MAGIC MODULE ----------------------->
  
  {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='TOP'
    %}
      {% dnd_module "magic_module_02"
        path='../modules/COMMODORE - Magic Module',
        label="Pulled Up Box (Magic Module - Pro)",
        start={
          "num_cols":1
        },
        col_1={
          "content": [
            {
              "type":"text",
              "rich_text":"<h2 style='text-align:center;'>Start Here!</h2><p style='text-align:center;'>Want to get a good sense of the power of commodore. Watch these.</p>"
            }
          ]
        },
        style={
          "section":{
            "bg":{
              "type":"none"
            }
          },
          "row":{
            "bg": {
              "type": "color",
              "color":{
                "color":"#ffffff",
                "opacity":100
              }
            },
            "spacing": {
              "desktop": {
                "margin": {
                  "top": {
                    "value": -100
                  }
                },
                "padding": {
                  "top": {
                    "value": 50
                  },
                  "bottom": {
                    "value": 50
                  }
                }
              },
              "tablet": {
                "padding": {
                  "top": {
                    "value": 50
                  },
                  "bottom": {
                    "value": 50
                  }
                }
              },
              "mobile": {
                "padding": {
                  "top": {
                    "value": 50
                  },
                  "bottom": {
                    "value": 50
                  }
                }
              }
            }
          }
        }
      %}  
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  
  <!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "video_carousel"
        path='../modules/commodore - Row - Video Carousel',
        label="Video Carousel",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "video" : [
              {
                "video_label": "Helpful Video",
                "embed": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1'>",
                "thumbnail": {
                  "src": "https://f.hubspotusercontent30.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg"
                }
              },
              {
                "video_label": "Helpful Video",
                "embed": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1'>",
                "thumbnail": {
                  "src": "https://f.hubspotusercontent30.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg"
                }
              },
              {
                "video_label": "Helpful Video",
                "embed": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1'>",
                "thumbnail": {
                  "src": "https://f.hubspotusercontent30.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg"
                }
              },
              {
                "video_label": "Helpful Video",
                "embed": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1'>",
                "thumbnail": {
                  "src": "https://f.hubspotusercontent30.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg"
                }
              },
              {
                "video_label": "Helpful Video",
                "embed": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1'>",
                "thumbnail": {
                  "src": "https://f.hubspotusercontent30.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg"
                }
              },
              {
                "video_label": "Helpful Video",
                "embed": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1'>",
                "thumbnail": {
                  "src": "https://f.hubspotusercontent30.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg"
                }
              }
            ]
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "50px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  <!----------------------- LEFT NAV AND MAIN CONTENT -----------------------> 
    {% dnd_section
      padding={
        'top': 50,
        'bottom': 50,
        'left': 25,
        'right': 25
      },
      background_color='#ffffff',
      full_width='false',
      max_width="1140",
      vertical_alignment='TOP'
    %}
    <!--------- SIDENAV COLUMN -----------> 
      {% dnd_column 
        offset=0,
        width=4,
        vertical_alignment='TOP'
      %}
        {% dnd_row %}
          {% dnd_module "accordion_menu_1"
            path='../modules/commodore - Item - Accordion Menu',
            label="Accordion Menu",
            offset=0,
            make_sticky=true
          %}
            {% module_attribute "accordion_menu" is_json=True %} 
              [
                {
                  "title": "Ebooks",
                  "menu": [
                     {
                        "linkLabel": "Inbound Maketing",
                        "linkUrl": "#"
                     },
                     {
                        "linkLabel": "User Experience",
                        "linkUrl": "#",
                        "children": [
                           {
                              "linkUrl": "http://www.hubspot.com/company/management",
                              "linkLabel": "Our Team"
                           }
                        ]
                     },
                     {
                        "linkLabel": "Branding",
                        "linkUrl": "#"
                     }
                  ]
                },
                {
                  "title": "Video Training",
                  "menu": [
                     {
                        "linkLabel": "commodore Overview",
                        "linkUrl": "#"
                     },
                     {
                        "linkLabel": "Conversion Tips",
                        "linkUrl": "#"
                     },
                     {
                        "linkLabel": "Workflows",
                        "linkUrl": "#"
                     },
                     {
                        "linkLabel": "Smart Content",
                        "linkUrl": "#"
                     }
                  ]
                },
                {
                  "title": "Case Studies",
                  "menu": [
                     {
                        "linkLabel": "HubSpot",
                        "linkUrl": "#"
                     },
                     {
                        "linkLabel": "Google",
                        "linkUrl": "#"
                     },
                     {
                        "linkLabel": "Facebook",
                        "linkUrl": "#"
                     }
                  ]
                }
              ]
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}

      <!------------------ MAIN CONTENT COLUMN --------------------> 
       {% dnd_column 
        offset=4,
        width=8
      %}
          
<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_3"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<h3>Header</h3>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "25px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "25px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "header"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}    

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_4"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "2",
                "two_col_arrangement": "opt1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "col_2" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "50px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "50px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "ebooks"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_5"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "2",
                "two_col_arrangement": "opt1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "col_2" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "50px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "50px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "ebooks"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

<!-------------- SPACER  ------------>
        {% dnd_row %}
          {% dnd_module "spacer_1"
            path='../modules/commodore - Item - Spacer',
            label="commodore 6-1 - Item - Spacer",
            offset=0,
            divider_line=true
          %}
            {% module_attribute "divider_line_color" is_json=True %}
              {
                "color": "#dddddd",
                "opacity": 100
              }
            {% end_module_attribute %}
            {% module_attribute "opts" is_json=True %}
              {
                "space_size": "25px",
                "space_size_tablet": "25px",
                "space_size_mobile": "25px",
                "spacer_width": "container-fluid"
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}  

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_6"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<h3>Mega Menu</h3>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "25px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "25px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "header"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}    

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_7"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "2",
                "two_col_arrangement": "opt1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
               "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "col_2" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "50px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "50px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "ebooks"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_8"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "2",
                "two_col_arrangement": "opt1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "col_2" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "50px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "50px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "ebooks"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

<!-------------- SPACER  ------------>
        {% dnd_row %}
          {% dnd_module "spacer_2"
            path='../modules/commodore - Item - Spacer',
            label="commodore 6-1 - Item - Spacer",
            offset=0,
            divider_line=true
          %}
            {% module_attribute "divider_line_color" is_json=True %}
              {
                "color": "#dddddd",
                "opacity": 100
              }
            {% end_module_attribute %}
            {% module_attribute "opts" is_json=True %}
              {
                "space_size": "25px",
                "space_size_tablet": "25px",
                "space_size_mobile": "25px",
                "spacer_width": "container-fluid"
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_9"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<h3>Footer</h3>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "25px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "25px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "header"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}    

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_10"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "2",
                "two_col_arrangement": "opt1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "col_2" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "50px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "50px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "ebooks"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

<!-------------- MULTI-COLUMN CONTENT  ------------>
        {% dnd_row %}
          {% dnd_module "multi_col_content_11"
            path='../modules/commodore - Row - Multi-Column Content',
            label="Multi-Column Content",
            offset=0
          %}
            {% module_attribute "start" is_json=True %}
              {
                "num_cols": "2",
                "two_col_arrangement": "opt1"
              }
            {% end_module_attribute %}
            {% module_attribute "col_1" is_json=True %}
              {
               "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "col_2" is_json=True %}
              {
                "content": "<p><img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-1.jpg' alt='commodore-video-embed-1' ></p><h5>Video Title</h5><p><span>Letterpress flannel gluten-free ramps knausgaard disrupt plaid. Tumeric artisan godard banjo.</span></p>",
                "settings": {
                  "align_desktop": "left",
                  "align_mobile": "left",
                  "show_divider": false,
                  "custom_text_color": false
                }
              }
            {% end_module_attribute %}
            {% module_attribute "row_settings" is_json=True %}
              {
                "bg_type": "color",
                "bg_color": {
                  "color": "#ffffff",
                  "opacity": 100
                },
                "content_width": "container",
                "adv_settings": {
                  "padding_top": "0px",
                  "padding_bottom": "50px",
                  "padding_top_tablet": "50px",
                  "padding_bottom_tablet": "50px",
                  "padding_top_mobile": "25px",
                  "padding_bottom_mobile": "50px"
                },
                "style": {
                  "pull_up": false
                },
                "code": {
                  "section_id": "ebooks"
                }
              }
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}

      {% end_dnd_column %}
    {% end_dnd_section %}

  
  <!----------------------- MAGIC MODULE ----------------------->
  
  {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='TOP'
    %}
      {% dnd_module "magic_module_03"
        path='../modules/COMMODORE - Magic Module',
        label="Base Call to Action (Magic Module - Pro)",
        start={
          "num_cols":1
        },
        col_1={
          "content": [
            {
              "type":"text",
              "rich_text":"<h2 style='text-align:center;'>Ready to do this?</h2><p style='text-align:center;'>You can be commodoreing up your website in a matter of minutes.</p><div  style='text-align:center;'><a href='#' class='cta-primary'>Call to Action</a></div>"
            }
          ]
        },
        style={
          "section":{
            "bg": {
              "type": "color",
              "color":{
                "color":"#f1f1f1",
                "opacity":100
              }
            }
          },
          "row":{
            "spacing": {
              "desktop": {
                "padding": {
                  "top": {
                    "value": 50
                  },
                  "bottom": {
                    "value": 50
                  }
                }
              },
              "tablet": {
                "padding": {
                  "top": {
                    "value": 50
                  },
                  "bottom": {
                    "value": 50
                  }
                }
              },
              "mobile": {
                "padding": {
                  "top": {
                    "value": 50
                  },
                  "bottom": {
                    "value": 50
                  }
                }
              }
            }
          }
        }
      %}  
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  {% end_dnd_area %}
</main>
{% endblock body %}