<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/screenshots/team-6-2.jpg
  label: Team - Commodore
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
    {% dnd_area "dnd_area" class='body-container', label='Main section' %}

 <!----------------------- HEADER FOOTER OVERRIDES  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "header_footer_overrides"
        path='../modules/commodore - Style - Header Footer Override',
        label="Header Footer Override",
        offset=0,
        use_alt_nav=false
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- HERO BANNER  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "hero_baner"
        path='../modules/commodore - Hero Banner',
        label="Hero Banner",
        offset=0
      %}
        {% module_attribute "start" is_json=True %} 
          {
            "num_cols": "1" 
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h1>Meet the Team</h1><h4>Let us help you make your life much easier.</h4><p></p><a href='#' class='cta-primary'>Call to Action</a>",
            "style": {
              "content_align": "center"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "video",
            "video_clip": [
              {            
                "mp4": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/video/commodore-new-vid-meeting.mp4"
              }
            ],
            "overlay_bg": "gradient",
            "color_1": {
              "color": "#000000",
              "opacity": 80
            },
            "color_2": {
              "color": "#000000",
              "opacity": 0
            },
            "gradient_angle": "45deg",
            "content_width": "container",
            "adv_settings": {
              "padding_top": "200px",
              "padding_bottom": "200px",
              "padding_top_tablet": "100px",
              "padding_bottom_tablet": "100px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "50px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_1"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt3"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>We do everything with our core values of honesty, hard work, and trust.</h2>",
            "settings": {
              "show_divider": false,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<h4>We believe these characteristics should influence everything we do in business and life. We love the work that we do, and our clients should reap the benefits.</h4>",
            "settings": {
              "show_divider": false,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_2"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>Leadership</h2><p>Distillery cornhole post-ironic shaman godard normcore tumblr put a bird on it.</p>",
            "settings": {
              "show_divider": true
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#f2f5f8",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "10px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  
<!----------------------- TEAM PROFILE CARDS OPT 2  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "team_profile_cards_opt_2_1"
        path='../modules/commodore - Row - Team Profile Cards Opt 2',
        label="Team Profile Cards Opt 2",
        offset=0
      %}
      {% module_attribute "start" is_json=True  %}
        {
          "num_cols": "3"
        }
      {% end_module_attribute %}

      {% module_attribute "card_style" is_json=True  %}
        {
          "bg_color": {
            "color": "#ffffff",
            "opacity": 100
          },
          "card_padding": 0,
          "card_text_padding": 25,
          "add_shadow": true,
          "photo_full": true,
          "text_align": "left"
        }
      {% end_module_attribute %}
      {% module_attribute "profile_card" is_json=True  %}
        [
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder.jpg"
            },
            "full_name": "John Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          },
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder-woman-1.jpg"
            },
            "full_name": "Jane Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          },
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder.jpg"
            },
            "full_name": "John Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          }
        ]
      {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#f2f5f8",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "25px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "10px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_3"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>Marketing</h2><p>Distillery cornhole post-ironic shaman godard normcore tumblr put a bird on it.</p>",
            "settings": {
              "show_divider": true
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#f2f5f8",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "10px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- TEAM PROFILE CARDS OPT 2  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "team_profile_cards_opt_2_2"
        path='../modules/commodore - Row - Team Profile Cards Opt 2',
        label="Team Profile Cards Opt 2",
        offset=0
      %}
      {% module_attribute "start" is_json=True  %}
        {
          "num_cols": "4"
        }
      {% end_module_attribute %}

      {% module_attribute "card_style" is_json=True  %}
        {
          "bg_color": {
            "color": "#ffffff",
            "opacity": 100
          },
          "card_padding": 0,
          "card_text_padding": 25,
          "add_shadow": true,
          "photo_full": true,
          "text_align": "left"
        }
      {% end_module_attribute %}
      {% module_attribute "profile_card" is_json=True  %}
        [
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder.jpg"
            },
            "full_name": "John Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          },
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder-woman-1.jpg"
            },
            "full_name": "Jane Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          },
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder.jpg"
            },
            "full_name": "John Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          },
          {
            "photo": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/team-profile-placeholder-woman-1.jpg"
            },
            "full_name": "janme Smith",
            "title": "Director of Marketing",
            "show_short_bio": true,
            "short_bio": "Fashion axe raw denim art party quinoa banh mi single-origin coffee. Flannel unicorn palo santo, seitan pabst art party knausgaard brooklyn meh cardigan vinyl tote bag thundercats glossier.",
            "card_link": false,
            "social": {
              "show_email": true,
              "email": "johnsmith@company.com",
              "show_social": true,
              "show_linkedin": true,
              "linkedin_url": "https://linkedin.com",
              "show_facebook": true,
              "facebook_url": "https://facebook.com",
              "show_twitter": true,
              "twitter_url": "https://twitter.com",
              "show_instagram": true,
              "instagram_url": "https://instagram.com",
              "show_youtube": true,
              "youtube_url": "https://youtube.com",
              "show_medium": true,
              "medium_url": "https://medium.com"
            }
          }
        ]
      {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#f2f5f8",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "25px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "10px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_4"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>Adding More Team Members</h2><p>This is super easy when using the commodore series.&nbsp; Simply drag-n-drop in as many team profile modules as you like to built your team.</p><p></p><a href='#' class='cta-primary'>Call to Action</a>",
            "settings": {
              "show_divider": true
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "10px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}