{# 
 NAME: ICON AND TEXT
 MODULE VERSION: 3.0.3
 COMMODORE VERSION: 6.2
 LAST UPDATED: 7/20/22
 REMINDER: You Rock!
#}

{% require_css %}
<style>
  
  {# ROW STYLE #}
  
  #hs_cos_wrapper_{{ name }} .hhs-icon-mod {
    padding-top: {{ module.row_settings.adv_settings.padding_top }};
    padding-bottom:  {{ module.row_settings.adv_settings.padding_bottom }};
    {% if module.row_settings.bg_type == 'color' %}
      background-color: rgba({{ module.row_settings.bg_color.color|convert_rgb }}, {{ module.row_settings.bg_color.opacity * 0.01 }});
    {% elif module.row_settings.bg_type == 'gradient' %}
      background-color: {{ module.row_settings.color_1.color }};
      background: -moz-linear-gradient({{ module.row_settings.gradient_angle }}, {{ module.row_settings.color_1.color }} 0%, {{ module.row_settings.color_2.color }} 100%);
      background: -webkit-linear-gradient({{ module.row_settings.gradient_angle }}, {{ module.row_settings.color_1.color }} 0%, {{ module.row_settings.color_2.color }} 100%);
      background: linear-gradient({{ module.row_settings.gradient_angle }}, {{ module.row_settings.color_1.color }} 0%, {{ module.row_settings.color_2.color }} 100%);
    {% endif %}
    {% if module.row_settings.shadow %}
      position: relative;
      z-index: 1;
    {% endif %}
  }
  
  @media (max-width: 922px) {
    #hs_cos_wrapper_{{ name }} .hhs-icon-mod {
      padding-top: {{ module.row_settings.adv_settings.padding_top_tablet }};
      padding-bottom: {{ module.row_settings.adv_settings.padding_bottom_tablet }};
    }
  }
  
  @media (max-width: 575px) {
    #hs_cos_wrapper_{{ name }} .hhs-icon-mod {
      padding-top: {{ module.row_settings.adv_settings.padding_top_mobile }};
      padding-bottom: {{ module.row_settings.adv_settings.padding_bottom_mobile }};
    }
  }
  
  {# SHADOW #}
  
  {%- if module.row_settings.shadow == 'inner' -%}
    #hs_cos_wrapper_{{ name }} .inner-shadow {
      -webkit-box-shadow:inset 0 0 {{ module.row_settings.shadow_size }}px 1px rgba({{ module.row_settings.shadow_color.color|convert_rgb }}, {% if module.row_settings.shadow_color.opacity == '100' %}1{% else %}0.{{ module.row_settings.shadow_color.opacity }}{% endif %});
      box-shadow:inset 0 0 {{ module.row_settings.shadow_size }}px 1px rgba({{ module.row_settings.shadow_color.color|convert_rgb }}, {% if module.row_settings.shadow_color.opacity == '100' %}1{% else %}0.{{ module.row_settings.shadow_color.opacity }}{% endif %});
    }
  {%- elif module.row_settings.shadow == 'outer' -%}
    #hs_cos_wrapper_{{ name }} .outer-shadow {
     -webkit-box-shadow: 0 0 {{ module.row_settings.shadow_size }}px 1px rgba({{ module.row_settings.shadow_color.color|convert_rgb }}, {% if module.row_settings.shadow_color.opacity == '100' %}1{% else %}0.{{ module.row_settings.shadow_color.opacity }}{% endif %});
      box-shadow: 0 0 {{ module.row_settings.shadow_size }}px 1px rgba({{ module.row_settings.shadow_color.color|convert_rgb }}, {% if module.row_settings.shadow_color.opacity == '100' %}1{% else %}0.{{ module.row_settings.shadow_color.opacity }}{% endif %});   
      z-index: 1;
      position: relative;
    }
  {%- endif -%}
  
  {# WAVE #}
  
  {%- if module.row_settings.add_wave_btm -%}
    #hs_cos_wrapper_{{ name }} .hhs-wave-con {
      color:  rgba({{ module.row_settings.wave.color.color|convert_rgb }}, {% if module.row_settings.wave.color.opacity == '100' %}1{% else %}0.{{ module.row_settings.wave.color.opacity }}{% endif %});
      bottom: -{{ module.row_settings.adv_settings.padding_bottom }};
    }
    {% if module.row_settings.wave.type == 'opt_6' %}
      #hs_cos_wrapper_{{ name }} .hhs-wave-con svg {
        fill: rgba({{ module.row_settings.wave.color.color|convert_rgb }}, {% if module.row_settings.wave.color.opacity == '100' %}1{% else %}0.{{ module.row_settings.wave.color.opacity }}{% endif %});
        height: {{ module.row_settings.wave.angle_height }}px;
      }
    {% endif %}
    {%- if module.row_settings.wave.flip_wave -%}
      #hs_cos_wrapper_{{ name }} .hhs-wave-con .hhs-wave-module svg {
        transform: scale(1, 1) !important;
      }
    {%- endif -%}
    @media (max-width: 922px) {
      #hs_cos_wrapper_{{ name }} .hhs-wave-con {
        bottom: -{{ module.row_settings.adv_settings.padding_bottom_tablet }};
      }
    }
    @media (max-width: 575px) {
      #hs_cos_wrapper_{{ name }} .hhs-wave-con {
        bottom: -{{ module.row_settings.adv_settings.padding_bottom_mobile }};
      }
    }
  {%- endif -%}
  
  {%- if module.row_settings.add_wave_top -%} 
    #hs_cos_wrapper_{{ name }} .hhs-wave-con-top {
      color:  rgba({{ module.row_settings.wave_top.color.color|convert_rgb }}, {% if module.row_settings.wave_top.color.opacity == '100' %}1{% else %}0.{{ module.row_settings.wave_top.color.opacity }}{% endif %});
      top: -{{ module.row_settings.adv_settings.padding_top }};
    }
    {% if module.row_settings.wave_top.type == 'opt_6' %}
      #hs_cos_wrapper_{{ name }} .hhs-wave-con-top svg {
        fill: rgba({{ module.row_settings.wave_top.color.color|convert_rgb }}, {% if module.row_settings.wave_top.color.opacity == '100' %}1{% else %}0.{{ module.row_settings.wave_top.color.opacity }}{% endif %});
        height: {{ module.row_settings.wave_top.angle_height }}px;
      }
    {% endif %}
    {%- if module.row_settings.wave_top.flip_wave -%}
      #hs_cos_wrapper_{{ name }} .hhs-wave-con-top .hhs-wave-module svg {
        transform: scale(-1, -1) !important;
      }
    {%- endif -%}
    @media (max-width: 922px) {
      #hs_cos_wrapper_{{ name }} .hhs-wave-con-top {
        top: -{{ module.row_settings.adv_settings.padding_top_tablet }};
      }
    }
    @media (max-width: 575px) {
      #hs_cos_wrapper_{{ name }} .hhs-wave-con-top {
        top: -{{ module.row_settings.adv_settings.padding_top_mobile }};
      }
    }
  {%- endif -%}
  
  {# END #}
  
  {# ICONS & TEXT #}
  
  #hs_cos_wrapper_{{ name }} .hhs-icon-con {
    text-align: {{ module.row_settings.content_alignment_desktop }};
  }
  
  @media (max-width: 575px) {
    #hs_cos_wrapper_{{ name }} .hhs-icon-con {
      text-align: {{ module.row_settings.content_alignment_mobile }};
    }
  }
  
  #hs_cos_wrapper_{{ name }} .hhs-icon-con i {
    {% if module.icon_options.custom_icon_size %}font-size: {{ module.icon_options.size }}px;{% endif %}
    {% if module.icon_options.set_color %}color: {{ module.icon_options.custom_color.color }};{% endif %}
  }
  {% if module.icon_options.custom_icon_size %}
    #hs_cos_wrapper_{{ name }} .hhs-icon-con svg {
     width: {{ module.icon_options.size }}px;
     height: {{ module.icon_options.size }}px;
    }
  {% endif %}
  {% if module.icon_options.set_color %}
    #hs_cos_wrapper_{{ name }} .hhs-icon-con svg {
      fill: {{ module.icon_options.custom_color.color }};
      color: {{ module.icon_options.custom_color.color }};
    }
  {% endif %}
  
  
</style>
{% end_require_css %}

{# INCLUDE LOTTIE FILES FOR COOL ANIMATIONS #}
{% if module.icon_options.icon_type == 'lottie' %}
  {{ require_js("https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js", "footer") }}
{% endif %}

{% set href1 = module.content_group.column_1.link.url.href %}
{% if module.content_group.column_1.link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href1 = "mailto:" + href1 %}
{% endif %}
{% set href2 = module.content_group.column_2.link.url.href %}
{% if module.content_group.column_2.link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href2 = "mailto:" + href2 %}
{% endif %}
{% set href3 = module.content_group.column_3.link.url.href %}
{% if module.content_group.column_3.link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href3 = "mailto:" + href3 %}
{% endif %}
{% set href4 = module.content_group.column_4.link.url.href %}
{% if module.content_group.column_4.link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href4 = "mailto:" + href4 %}
{% endif %}

<div id="{{ module.row_settings.code.section_id }}" class="hhs-icon-mod {% if module.row_settings.visibility.vis_phone %}show-mobile{% else %}hide-mobile{% endif %} {% if module.row_settings.visibility.vis_tablet %}show-tablet{% else %}hide-tablet{% endif %} {% if module.row_settings.visibility.vis_desktop %}show-desktop{% else %}hide-desktop{% endif %} {% if module.row_settings.shadow == 'inner' %}inner-shadow{% endif %} {% if module.row_settings.shadow == 'outer' %}outer-shadow{% endif %} {{ module.row_settings.code.section_class }}"> 
  {%- if module.row_settings.add_wave_top -%} 
    <div class="hhs-wave-con-top">
      <div class="hhs-wave-module">
        {%- if module.row_settings.wave_top.type == 'opt_1' -%}
          <svg id="opt_1" data-name="opt 1" xmlns="http://www.w3.org/2000/svg" width="1366" height="128" viewBox="0 0 1366 128" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-1"><path id="Rectangle" class="cls-1" d="M0,0C623,0,667,151.4614,1366,121.6993V128H0Z"></path></g></svg>
        {%- elif module.row_settings.wave_top.type == 'opt_2' -%}
          <svg id="opt_2" data-name="opt 2" xmlns="http://www.w3.org/2000/svg" width="1366" height="64" viewBox="0 0 1366 64" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-2"><path id="Rectangle-Copy-6" class="cls-1" d="M0,64H1366V62.9663C1240.4894,64.6734,669.439,0,299,0H0Z"></path></g></svg>
        {%- elif module.row_settings.wave_top.type == 'opt_3' -%}
          <svg id="opt_3" data-name="opt 3" xmlns="http://www.w3.org/2000/svg" width="1366" height="88" viewBox="0 0 1366 88" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-2"><path id="Rectangle" class="cls-1" d="M0,47.8021c307.5088,0,483.3828,29.3677,656.8125,29.3677S1028.2269,6.8806,1366,0V88H0Z"></path></g></svg>
        {%- elif module.row_settings.wave_top.type == 'opt_4' -%}
          <svg id="opt_4" data-name="opt 4" xmlns="http://www.w3.org/2000/svg" width="1366" height="64" viewBox="0 0 1366 64" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-4"><path id="Rectangle-Copy-6" class="cls-1" d="M1366,64H0V.0337c205,0,709,55.6648,1366,55.6648Z"></path></g></svg>
        {%- elif module.row_settings.wave_top.type == 'opt_5' -%}
          <svg id="opt_5" data-name="opt 5" xmlns="http://www.w3.org/2000/svg" width="1366" height="64" viewBox="0 0 1366 64" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-7"><path id="Rectangle" class="cls-1" d="M0,61.49C623,61.49,699,13.1117,1366,0V64H0Z"></path></g></svg>
        {%- elif module.row_settings.wave_top.type == 'opt_6' -%}
          <svg id="opt_6" data-name="opt 6" viewBox="0 0 200 200" preserveAspectRatio="none"><polygon points="0,200 200,0 200,200" /></svg>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
  <div class="{{ module.row_settings.content_width }}" style="{% if module.row_settings.content_width == 'custom' %} max-width: {{ module.row_settings.set_width }}px; margin: auto;{% endif %}">
    <div class="row">
      <div class="col-sm">
        <div class="hhs-icon-con {{ module.icon_options.icon_pos }} {{ module.icon_options.icon_align }}">
          <div class="icon-con">
            {% if module.icon_options.icon_link %}<a href="{{ href1 }}" {% if module.content_group.column_1.link.open_in_new_tab %}target="_blank"{% endif %} {% if module.content_group.column_1.link.no_follow %}rel="nofollow"{% endif %}>{% else %}<span>{% endif %}
              {% if module.icon_options.icon_type == 'hs_list' %}
                {% icon name="{{ module.content_group.column_1.icon_hs.name }}" style="{{ module.content_group.column_1.icon_hs.type }}" unicode="{{ module.content_group.column_1.icon_hs.unicode }}" %}
              {% endif %}
              {% if module.icon_options.icon_type == 'upload_icon' %}
                {% if module.content_group.column_1.icon_upload.src %}
                  {% set sizeAttrs = 'width="{{ module.content_group.column_1.icon_upload.width }}" height="{{ module.content_group.column_1.icon_upload.height }}"' %}
                  {% if module.content_group.column_1.icon_upload.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                  {% elif module.content_group.column_1.icon_upload.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.content_group.column_1.icon_upload.max_width }}px; max-height: {{ module.content_group.column_1.icon_upload.max_height }}px"' %}
                  {% endif %}
                   {% set loadingAttr = module.content_group.column_1.icon_upload.loading != 'disabled' ? 'loading="{{ module.content_group.column_1.icon_upload.loading }}"' : '' %}
                  <img class="wow fadeIn" src="{{ module.content_group.column_1.icon_upload.src }}" alt="{{ module.content_group.column_1.icon_upload.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
              {% endif %}
              {% if module.icon_options.icon_type == 'font_awesome' %}
                {{ module.content_group.column_1.icon_fa }}
              {% endif %}
              {% if module.icon_options.icon_type == 'lottie' %}
                {{ module.content_group.column_1.lottie_embed }}
              {% endif %}
            {% if module.icon_options.icon_link %}</a>{%- else -%}</span>{%- endif -%}
          </div>
          <div class="hhs-text-content">
            {{ module.content_group.column_1.content }}
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="hhs-icon-con {{ module.icon_options.icon_pos }} {{ module.icon_options.icon_align }}">
          <div class="icon-con">
            {% if module.icon_options.icon_link %}<a href="{{ href2 }}" {% if module.content_group.column_2.link.open_in_new_tab %}target="_blank"{% endif %} {% if module.content_group.column_2.link.no_follow %}rel="nofollow"{% endif %}>{% else %}<span>{% endif %}
              {% if module.icon_options.icon_type == 'hs_list' %}
                {% icon name="{{ module.content_group.column_2.icon_hs.name }}" style="{{ module.content_group.column_2.icon_hs.type }}" unicode="{{ module.content_group.column_2.icon_hs.unicode }}" %}
              {% endif %}
              {% if module.icon_options.icon_type == 'upload_icon' %}
                {% if module.content_group.column_2.icon_upload.src %}
                  {% set sizeAttrs = 'width="{{ module.content_group.column_2.icon_upload.width }}" height="{{ module.content_group.column_2.icon_upload.height }}"' %}
                  {% if module.content_group.column_2.icon_upload.size_type == 'auto' %}
                    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                  {% elif module.content_group.column_2.icon_upload.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.content_group.column_2.icon_upload.max_width }}px; max-height: {{ module.content_group.column_2.icon_upload.max_height }}px"' %}
                  {% endif %}
                   {% set loadingAttr = module.content_group.column_2.icon_upload.loading != 'disabled' ? 'loading="{{ module.content_group.column_2.icon_upload.loading }}"' : '' %}
                  <img class="wow fadeIn" src="{{ module.content_group.column_2.icon_upload.src }}" alt="{{ module.content_group.column_2.icon_upload.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
              {% endif %}
              {% if module.icon_options.icon_type == 'font_awesome' %}
                {{ module.content_group.column_2.icon_fa }}
              {% endif %}
              {% if module.icon_options.icon_type == 'lottie' %}
                {{ module.content_group.column_2.lottie_embed }}
              {% endif %}
            {% if module.icon_options.icon_link %}</a>{%- else -%}</span>{%- endif -%}
          </div>
          <div class="hhs-text-content">
            {{ module.content_group.column_2.content }}
          </div>
        </div>
      </div>
      {% if module.icon_options.num_cols != '2' %}
        <div class="col-sm">
          <div class="hhs-icon-con {{ module.icon_options.icon_pos }} {{ module.icon_options.icon_align }}">
          <div class="icon-con">
              {% if module.icon_options.icon_link %}<a href="{{ href3 }}" {% if module.content_group.column_3.link.open_in_new_tab %}target="_blank"{% endif %} {% if module.content_group.column_3.link.no_follow %}rel="nofollow"{% endif %}>{% else %}<span>{% endif %}
                {% if module.icon_options.icon_type == 'hs_list' %}
                  {% icon name="{{ module.content_group.column_3.icon_hs.name }}" style="{{ module.content_group.column_3.icon_hs.type }}" unicode="{{ module.content_group.column_3.icon_hs.unicode }}" %}
                {% endif %}
                {% if module.icon_options.icon_type == 'upload_icon' %}
                  {% if module.content_group.column_3.icon_upload.src %}
                    {% set sizeAttrs = 'width="{{ module.content_group.column_3.icon_upload.width }}" height="{{ module.content_group.column_3.icon_upload.height }}"' %}
                    {% if module.content_group.column_3.icon_upload.size_type == 'auto' %}
                      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                    {% elif module.content_group.column_3.icon_upload.size_type == 'auto_custom_max' %}
                      {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.content_group.column_3.icon_upload.max_width }}px; max-height: {{ module.content_group.column_3.icon_upload.max_height }}px"' %}
                    {% endif %}
                     {% set loadingAttr = module.content_group.column_3.icon_upload.loading != 'disabled' ? 'loading="{{ module.content_group.column_3.icon_upload.loading }}"' : '' %}
                    <img class="wow fadeIn" src="{{ module.content_group.column_3.icon_upload.src }}" alt="{{ module.content_group.column_3.icon_upload.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                  {% endif %}
                {% endif %}
                {% if module.icon_options.icon_type == 'font_awesome' %}
                  {{ module.content_group.column_3.icon_fa }}
                {% endif %}
                {% if module.icon_options.icon_type == 'lottie' %}
                  {{ module.content_group.column_3.lottie_embed }}
                {% endif %}
              {% if module.icon_options.icon_link %}</a>{%- else -%}</span>{%- endif -%}
            </div>
            <div class="hhs-text-content">
              {{ module.content_group.column_3.content }}
            </div>
          </div>
        </div>
        {% if module.icon_options.num_cols == '4' %}
          <div class="col-sm">
            <div class="hhs-icon-con {{ module.icon_options.icon_pos }} {{ module.icon_options.icon_align }}">
              <div class="icon-con">
                {% if module.icon_options.icon_link %}<a href="{{ href4 }}" {% if module.content_group.column_4.link.open_in_new_tab %}target="_blank"{% endif %} {% if module.content_group.column_4.link.no_follow %}rel="nofollow"{% endif %}>{% else %}<span>{% endif %}
                  {% if module.icon_options.icon_type == 'hs_list' %}
                    {% icon name="{{ module.content_group.column_4.icon_hs.name }}" style="{{ module.content_group.column_4.icon_hs.type }}" unicode="{{ module.content_group.column_4.icon_hs.unicode }}" %}
                  {% endif %}
                  {% if module.icon_options.icon_type == 'upload_icon' %}
                    {% if module.content_group.column_4.icon_upload.src %}
                      {% set sizeAttrs = 'width="{{ module.content_group.column_4.icon_upload.width }}" height="{{ module.content_group.column_4.icon_upload.height }}"' %}
                      {% if module.content_group.column_4.icon_upload.size_type == 'auto' %}
                        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                      {% elif module.content_group.column_4.icon_upload.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.content_group.column_4.icon_upload.max_width }}px; max-height: {{ module.content_group.column_4.icon_upload.max_height }}px"' %}
                      {% endif %}
                       {% set loadingAttr = module.content_group.column_4.icon_upload.loading != 'disabled' ? 'loading="{{ module.content_group.column_4.icon_upload.loading }}"' : '' %}
                      <img class="wow fadeIn" src="{{ module.content_group.column_4.icon_upload.src }}" alt="{{ module.content_group.column_4.icon_upload.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                  {% endif %}
                  {% if module.icon_options.icon_type == 'font_awesome' %}
                    {{ module.content_group.column_4.icon_fa }}
                  {% endif %}
                  {% if module.icon_options.icon_type == 'lottie' %}
                    {{ module.content_group.column_4.lottie_embed }}
                  {% endif %}
                {% if module.icon_options.icon_link %}</a>{%- else -%}</span>{%- endif -%}
              </div>
              <div class="hhs-text-content">
                {{ module.content_group.column_4.content }}
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {%- if module.row_settings.add_wave_btm -%} 
    <div class="hhs-wave-con">
      <div class="hhs-wave-module">
        {%- if module.row_settings.wave.type == 'opt_1' -%}
          <svg id="opt_1" data-name="opt 1" xmlns="http://www.w3.org/2000/svg" width="1366" height="128" viewBox="0 0 1366 128" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-1"><path id="Rectangle" class="cls-1" d="M0,0C623,0,667,151.4614,1366,121.6993V128H0Z"></path></g></svg>
        {%- elif module.row_settings.wave.type == 'opt_2' -%}
          <svg id="opt_2" data-name="opt 2" xmlns="http://www.w3.org/2000/svg" width="1366" height="64" viewBox="0 0 1366 64" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-2"><path id="Rectangle-Copy-6" class="cls-1" d="M0,64H1366V62.9663C1240.4894,64.6734,669.439,0,299,0H0Z"></path></g></svg>
        {%- elif module.row_settings.wave.type == 'opt_3' -%}
          <svg id="opt_3" data-name="opt 3" xmlns="http://www.w3.org/2000/svg" width="1366" height="88" viewBox="0 0 1366 88" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-2"><path id="Rectangle" class="cls-1" d="M0,47.8021c307.5088,0,483.3828,29.3677,656.8125,29.3677S1028.2269,6.8806,1366,0V88H0Z"></path></g></svg>
        {%- elif module.row_settings.wave.type == 'opt_4' -%}
          <svg id="opt_4" data-name="opt 4" xmlns="http://www.w3.org/2000/svg" width="1366" height="64" viewBox="0 0 1366 64" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-4"><path id="Rectangle-Copy-6" class="cls-1" d="M1366,64H0V.0337c205,0,709,55.6648,1366,55.6648Z"></path></g></svg>
        {%- elif module.row_settings.wave.type == 'opt_5' -%}
          <svg id="opt_5" data-name="opt 5" xmlns="http://www.w3.org/2000/svg" width="1366" height="64" viewBox="0 0 1366 64" preserveAspectRatio="none"><defs><style>.cls-1{fill:currentColor;fill-rule:evenodd;}</style></defs><g id="Wave-7"><path id="Rectangle" class="cls-1" d="M0,61.49C623,61.49,699,13.1117,1366,0V64H0Z"></path></g></svg>
        {%- elif module.row_settings.wave.type == 'opt_6' -%}
          <svg id="opt_6" data-name="opt 6" viewBox="0 0 200 200" preserveAspectRatio="none"><polygon points="0,200 200,0 200,200" /></svg>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>


{# ASYNC CSS LOAD #}
{{ require_css(get_asset_url("../../css/modules/row-icon-text.css"), { async: true }) }}
