<!--
  templateType: password_prompt_page
  isAvailableForNewContent: true
  screenshotPath: ../../images/screenshots/password.jpg
  label: commodore - Password Prompt Page - Commodore
-->
{% extends "../layouts/base.html" %}
{% if theme.system_pages.sub_prefs.use_sticky_nav %}
  {% require_js %}
    <script>
      var element = document.getElementById("hhs-main-nav");
      element.classList.add("hhs-alt-nav");
    </script>
  {% end_require_js %}
{% endif %}

{% block body %}
<div class="sub-pre-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Enter Your Password</h1>
        <p>This page is locked.</p>
      </div>
    </div>
  </div>
  <div class="head-overlay"></div>
</div>
<div class="sub-pref-full">
  <div class="container-slim">
    <div class="row">
      <div class="col-12">
        <div class="systems-page">
          {% module "password_prompt" path="@hubspot/password_prompt" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
