{#** commodore 6.2 STYLE ***#}

@import compass/utilities

{% include "@hubspot/hubspot_default/shared/responsive/modules.css" %}
{% include "@hubspot/hubspot_default/shared/responsive/print.css" %}

 
 {# ==========================================================================
 Macros                                                  
 ========================================================================== #}
 
 {# Transition #}
 {% macro transition(value) -%}
 -webkit-transition: {{ value }};
 transition: {{ value }};
 {%- endmacro %}
 
 {# Animation Delay #}
 {% macro animationDelay(value) -%}
 -webkit-animation-delay: {{ value }};
 animation-delay: {{ value }};
 -webkit-transition-delay: {{ value }};
 transition-delay: {{ value }};
 {%- endmacro %}
 
 {# Box Shadow #}
 {% macro boxshadow(value) -%}
 box-shadow: {{ value }};
 {%- endmacro %}
 
 {# Background Size #}
 {% macro backgroundsize(value) -%}
 -webkit-background-size: {{ value }};
 background-size: {{ value }};
 {%- endmacro %}
 
 {# Border Radius #}
 {% macro borderradius(value) -%}
 border-radius: {{ value }};
 {%- endmacro %}
 
 {# User Select #}
 {% macro userselect(value) -%}
 -webkit-user-select: {{ value }};
 -moz-user-select: {{ value }};
 -ms-user-select: {{ value }};
 user-select: {{ value }};
 {%- endmacro %}
 
 {# Opacity#}
 {% macro opacity(value) -%}
 opacity: {{ value }};
 {%- endmacro %}
 
 
 
 {# ==========================================================================
 Base                                                    
 ========================================================================== #}
 
 *, *:before, *:after {
   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
 
 html {position: relative;}
 
 html, body {
   min-height: 100%;
   margin: 0;
   padding: 0;
 } 

 hr{
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   color: #ccc;
   background-color: #ccc;
   height: 1px;
   border: none;
 }


 
 a { 
   {{ transition("all 0.4s ease-in-out") }}
   text-decoration: none;
 }

 
 {# Highlighted Text #}
 ::-moz-selection {
   text-shadow: none;
   color: #fff;
   background: #444;
 }
 ::selection {
   text-shadow: none;
   color: #fff;
   background: #444;
 }
 
 {# Corrects width issues in table elements created via the wysiwyg editor #}
 table tr td img {
   max-width: initial;
 }
 
 
 
 {# ==========================================================================
 Structure                                               
 ========================================================================== #}
 
 
 {# The outer wrappers of your website #}
 .header-container-wrapper, 
 .body-container-wrapper, 
 .footer-container-wrapper .container-fluid {
   padding-left: 0 !important;
   padding-right: 0 !important;
 }
 
 .footer-container-wrapper {
   position: relative;
   z-index: 1;
 }
 
 
 {# ==========================================================================
 Header
 ========================================================================== #}
 
 .header-container-wrapper {
   width: 100%;
   z-index: 9999;
 }
 .header-container {
   z-index: 9999;
   position: relative;
 }
 .header-cta{
   margin-top: 9px;
   margin-left: 0;
   text-align: right !important;
 }
 
 .hhs-header.sticky-menu.active {
   padding: 5px 0px !important; 
 }
 
 
 @media (max-width: 922px){
   .sticky-menu .widget-type-cta {
     display: none;
   }
   .sticky-menu .widget-type-logo img {
     margin: 0;
   }
 }

 
 {# ==========================================================================
 CSS USED BY CUSTOM MODULES                                                 
 ========================================================================== #}
 
 
 .hhs-full-hero-vh {height: 100vh !important;}
 
 @media (max-width: 575px){
   .hhs-full-hero-vh {height: auto !important;}
 }
 
 .hhs-full-hero-vh .hhs-center-hero {padding: 100px 0 !important;}
 
.hhs-scroll-down {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50px;
  opacity: 0.4;
}

.hhs-row-overlay {
 position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hhs-video-player {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
  z-index: 0;
}

.hs-embed-wrapper video,
.jw-media video,
.w-video-wrapper video {
  left: auto !important;
  transform: none !important;
}
 
 
 
 {#**  PARALLAX 1.7.0 **#}
 
 .parallax {
   background-size: 100% auto;
   background-repeat: no-repeat;
 }
 
 .hhs-text-content {margin: 0 auto;}
 
 .hhs-rich-text-in {
   clear: both; 
 }
 
 
 .hhs-image-grid img {margin-bottom: 25px;}
 
 .hhs-team-social-con i {
   font-size: 18px;
   padding: 5px;
 }
 
 
 .hhs-pricing-option {
   text-align: center; 
 }
 
 .hhs-package-desc p {
   line-height: 2.5em; 
 }
 

{#* WAVE CSS *#}

.hhs-wave-con-top,
.hhs-wave-con {
  overflow: hidden;
  color: #fff;
  position: relative;
  z-index: 100;
}

.hhs-wave-module svg,
.hhs-wave-module {
  display: block;
  width: 103%;
  min-width: 1366px;
}

.hhs-wave-module svg {
  transform: scaleX(-1);
}
 
.hhs-wave-con-top .hhs-wave-module svg {
  transform: scaleY(-1);
}

.hhs-wave-con .hhs-wave-module {
 margin-bottom: -1px;
}

.hhs-wave-con-top .hhs-wave-module {
 margin-top: -2px;
}

.hhs-wave-module svg {
  bottom: 0;
}
 
 
.hhs-clearfix:before,
.hhs-clearfix:after,
.hhs-container:before,
.hhs-container:after,
.hhs-container-fluid:before,
.hhs-container-fluid:after {
  content: " ";
  display: table;
}
.hhs-clearfix:after,
.hhs-container:after,
.hhs-container-fluid:after {
  clear: both;
}
 
 
 @keyframes scrollDown {
   0% {
     opacity: 0;
     transform: translate(-50%, 0);
   }
 
   30% {
     opacity: 1;
   }
 
   100% {
     opacity: 0;
     transform: translate(-50%, 22px);
   }
 }

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

 {# ==========================================================================
 DEVICE VISIBILITY CLASSES                                                
 ========================================================================== #}
 .hide {display: none !important;}
 .hide-desktop {display: none;}
 .show-desktop {display: block;}
 
 @media (max-width: 834px) { 
   .hide-desktop {display: block !important;}
 
   .show-tablet {display: block !important;}
   .hide-tablet {display: none !important;}
 }
 
 @media (max-width: 575px) { 
   .hide-mobile {display: none !important;}
   .show-mobile {display: block !important;}
 }


{#*** ACCESSIBILITY HIDDEN FIELDS **#}

span.hidden {
 display: none !important; 
}

#return-to-top i span,
.hhs-social-con i span,
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   overflow: hidden;
   position: absolute !important;
   width: 1px;
}
 
 {# Modular & Reusable Components
 ========================================================================== #}

 .widget-type-blog_subscribe .hs-error-msgs {
   display: none;
 }
 
 .hs_error_rollup {display: none;}

 {# Rich Editor Checkmark Lists #}
 .hs_cos_wrapper_type_rich_text ul {
   padding-left: 40px;
 }

 .hs_cos_wrapper_type_rich_text ul li:before {
   display: none;
 }

 
 .post-jump .next-arrow,
 .post-jump .prev-arrow {
   margin: 60px 0 0 12px;
 }

 
 {# ==========================================================================
 Footer
 ========================================================================== #}
 
 .hhs-contact-con i {float: left; margin-right: 10px;}
 .hhs-contact-con span {float: left;display: block;line-height: normal;}
 .hhs-contact-con p {clear:both; margin-bottom: 10px; display: inline-block;}
 
 .hhs-footer .horz-rule {
   border-color: rgba(0,0,0,0.3) !important;
   clear: both;
 }

 
 
 {# ==========================================================================
 3. MAIN NAVIGATION                                            
 ========================================================================== #}
 
 
 {# ==========================================================================
 Custom Menu Primary
 ========================================================================== #}
 
 .hhs-header-menu {
   float: right !important; 
 }
 
 .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-item a {
   padding: 10px 5px; 
 }
 .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-2 a {
   padding: 5px 5px 5px 10px; 
 }
 
 
 @media (max-width: 922px) {
   .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-item a,
   .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-2 a {
     padding: 0px 0px 0px 10px; 
   }
 }
 
 .hhs-header-menu .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a span {
   padding: 10px 0; 
 }

 
 .custom-menu-primary .hs-menu-wrapper > ul{ 
   float: right;
   {{ transition("all .2s ease-in-out") }}
 }
 
 .custom-menu-primary .hs-menu-wrapper > ul > li > a{
   padding: 10px 15px;
   position: relative;
   display: block;
 }
 
 {# Child List #}
 
 .custom-menu-primary .hs-menu-wrapper > ul ul{
   left: 15px!important;
   padding: 10px 0px;
   -webkit-box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
   box-shadow: 0 0 5px 0px rgba(0,0,0,0.1);
   min-width: 150px;
 }
 
 
 .custom-menu-primary .hs-menu-wrapper > ul > li > ul:before {
   content: "\f0d8";
   display: inline-block;
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   font-weight: bold;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   position: absolute;
   top: -10px;
   left: 0;
   width: 100%;
   padding-left: 10px;
 }
 @media (max-width: 922px) {
   .custom-menu-primary .hs-menu-wrapper > ul > li > ul:before {
     display: none !important;
   }
 }
 .transparent-nav .custom-menu-primary .hs-menu-wrapper > ul ul li a {
   color:#444;
 }
 
 .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
   z-index: 1000 !important;
 }
 
 .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
   left: 100% !important;
 }
 

 
 
 {# Override max width on menu links #}
 .hhs-pillar-menu .hs-menu-wrapper > ul li a,
 .custom-menu-primary .hs-menu-wrapper > ul li a, 
 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
   overflow: visible !important;
   max-width: none !important;
   width: auto !important;
   text-decoration: none !important;
   padding-right: 30px;
   white-space: normal !important;
   {#padding-left: 15px;#}
 }
 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li {
   margin: 0px; 
 }
 
 .hs-menu-wrapper.hs-menu-flow-horizontal ul {
   margin-bottom: 0px; 
 }
 
 
 {# Carret after Menu items with dropdown #}
 .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children > a:after {
   content: "\f107";
   display: inline-block;
   font-family: "Font Awesome 5 Free" !important;
   font-style: normal;
   font-weight: bold;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin-left: 3px;
 }
 
 .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-2.hs-item-has-children > a:after {
   content: "\f105";
   float: none;
   font-family: "Font Awesome 5 Free" !important;
   line-height: 24px;
   position: absolute;
   right: 10px;
   top: 5px;
 }
 
 
 .hhs-footer .hs-menu-item.active {
   background-color: transparent !important; 
 }
 
 {# Show menu and remove background color on desktop after toggling mobile menu #}
 @media screen and (min-width:769px) {
   .custom-menu-primary .hs-menu-wrapper {
     display:block !important;
     background: transparent !important;
   }
 }
 
 {# Force header to trigger mobile layout on iPads #}
 @media (max-width: 922px){
   .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children > a:after {
     display: none; 
   }
   .header-container-wrapper .container-fluid  .row-fluid [class*="span"] {
     display: block;
     float: none !important;
     width: auto !important;
     margin-left: 0 !important;
   }
 }
 
 .row-fluid [class*="span"] {
   min-height: auto !important; 
 }
 
 @media (min-width: 1280px) {
   .row-fluid [class*="span"] {
     min-height: 0 !important;
   }
 }
 
 .row-fluid {
   min-height: 0px !important;
 }
 
 
 {# ==========================================================================
 Mobile Menu - Hubspot Standard Toggle Menu
 ========================================================================== #}
 
 .mobile-trigger, .child-trigger{
   display: none !important; {# Hide button on Desktop #}
 }
 
 @media (max-width: 922px){
 
   .custom-menu-primary .hs-menu-wrapper > ul ul{
     padding: 0px !important;
   }
 
   .custom-menu-primary,
   .custom-menu-primary .hs-menu-wrapper > ul,
   .custom-menu-primary .hs-menu-wrapper > ul li,
   .custom-menu-primary .hs-menu-wrapper > ul li a{
     {#display: block;
     float: none;#}
     position: static;
     top: auto;
     right: auto;
     left: auto;
     bottom: auto;
     padding: 0px;
     margin: 0px;
     background-image: none;
     background-color: transparent;
     border: 0px;
     -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
     border-radius: 0px;
     -webkit-box-shadow: none;
     -moz-box-shadow:    none;
     box-shadow:         none; 
     max-width: none;
     width: 100%;
     height: auto;
     line-height: 1;  
     font-weight: normal;
     text-decoration: none;
     text-indent: 0px;
     text-align: left;
   }
 
 
 
   {# Child Toggle Button
   ========================================================================== #}
 
   .child-trigger{
     display: -webkit-box !important; {# ADL #}
     display: -ms-flexbox !important; {# ADL #}
     display: flex !important; {# Hide button on Desktop #} {# ADL #}
     cursor: pointer; {# Mouse pointer type on hover #}
     position: absolute;
     top: 0px;
     right: 0px;
     width: 55px !important; {# Button width #}
     min-width: 55px !important;
     height: 45px !important; {# Button height #}  
     padding: 0 !important;
     border: 0; {# ADL #}
     border-left: 1px solid rgba(0, 0, 0, .10);
     background: transparent; {# ADL #}
   }
   .hhs-header-trans .child-trigger{
     border-left: 1px solid rgba(255, 255, 255, .10);
   }
 
   .child-trigger:hover{
     text-decoration: none;
   }
 
 
   {# Child Toggle Button Icon & Animations
   ========================================================================== #}
 
   .child-trigger i{
     position: relative;
     top: 50%; {# Centers icon inside button #}
     margin: 0 auto !important;
   }
   .child-trigger i:after{
     position: absolute;
     content: '';
   }
   .child-trigger i, .child-trigger i:after{
     width: 13px; {# Icon line width #}
     height: 1px; {# Icon line height #}
     background-color: #ccc; {# Icon color #}
     display: block;
   }
   .child-trigger i:after{
     -webkit-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
     transform: rotate(-90deg);
   }
   .child-trigger.child-open i:after{
     -webkit-transform: rotate(-180deg);
     -ms-transform: rotate(-180deg);
     transform: rotate(-180deg);
   }
   .child-trigger.child-open i{
     -webkit-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     transform: rotate(180deg);
   }
 
 
 
 
 
   {# Make child lists appear below parent items #}
   .custom-menu-primary ul.hs-menu-children-wrapper{
     visibility: visible !important;
     opacity: 1 !important;
     position: static !important;
     display: none;
   }
 
   {# Mobile Menu Styles #} 
   .custom-menu-primary.js-enabled .hs-menu-wrapper{
     width: 100%;
     position: relative; {#************************************************************#}
     {#top: 10px;#}             {# Positions the menu to drop from the very top of the screen #}
     left: 0;          {#************************************************************#}
     padding: 0;
   }
   .custom-menu-primary .hs-menu-wrapper{
     width: 100%; {# Full screen width #}
     padding: 0 0 0 0;
     z-index: 8888;
   }
 
 
   {# Level 1 Menu List Styles #}
 
   .custom-menu-primary .hs-menu-wrapper > ul {
     background: #fff;
   }
 
   .custom-menu-primary .hs-menu-wrapper > ul > li{
     position: relative;
   }
   .custom-menu-primary .hs-menu-wrapper > ul > li a{
     font-size: 22px; {# Font size of top level list items #}
     line-height: 45px;
     overflow: visible;
   }
 
   {# Level 1 and Higher Menu List Styles #}
   {# } #}
   .custom-menu-primary.hhs-header-trans .hs-menu-wrapper >  ul li a{
     padding: 0 10px;
   }
   .custom-menu-primary .hs-menu-wrapper >  ul li a{
     padding: 0 10px;
     color:#111111; {# link color set by global mobile-aColor variable #}
   }
   .custom-menu-primary .hs-menu-wrapper > ul li a:hover{
     color:#000000; {# link hover color set by global mobile-aColorHover variable #}
   }
 
   {# Level 2 and Higher Menu List Styles #}
   .custom-menu-primary .hs-menu-wrapper > ul ul{
     border: 0px;
     padding: 10px 0;
   }
   .custom-menu-primary .hs-menu-wrapper > ul ul li a{
     text-indent: 10px; {# Indent Child lists #}
     font-size: 16px; {# Font size of child lists #}
   }
 
   .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:after{
     display: none;
   }
 
   {# Level 3 and Higher Menu List Styles #}
   .hhs-header-full {
     padding-left:0;
     padding-right: 0;
   }
 }
 
 
 @media (max-width: 922px) {
   .hhs-nav {padding-top: 0px;}
   .hhs-logo-header {padding-left: 0px; }
   .hhs-header-hat {
     padding: 0; 
   }
   .hhs-header-hat .hs-menu-wrapper * {
     width: auto !important; 
   }
   .hhs-text-content {
     max-width: 100% !important;
   }
   .hhs-container-fluid.hhs-package-highlight {
     margin: -50px 0 30px !important; 
   }
   .body-container-wrapper .hhs-col-12.pricing-table {padding: 50px 0 !important;}
 
 }
 
 .fb_iframe_widget span,
 .hs-blog-social-share .hs-blog-social-share-list .hs-blog-social-share-item span.IN-widget {
   vertical-align: top !important;
 }
 
 
 {#*** TOGGLE CSS for Pricing Pages **#}
 
 .hhs-toggle-price .wrapper{
   position: relative; 
   width: 100%;
   margin-bottom: 25px;
 }
 
 .toggler-label-left {
   position: absolute;
   left: 0px;
   text-align: right;
   width: 45%;
 }
 
 .toggler-label-right {
   position: absolute;
   right: 0px;
   text-align: right;
   width: 45%;
   top: 7px;
   text-align: left;
 }
 
 {# checkbox #}
 
 .wrapper {
   position: relative;
   display: flex;
   width: 120px;
   margin: 0 auto;
   align-items: center;
   justify-content: space-around;
 }
 @media (max-width: 992px) {
   .wrapper {
     width: 250px;
   }
 }
 .wrapper .toggler {
   display: inline-block;
   width: 67px;
   text-align: center;
 }
 .wrapper .toggler *, .wrapper .toggler *:before {
   transition: 0.15s ease-in-out all;
 }
 .wrapper .toggler:before, .wrapper .toggler:after {
   margin: 0px -15px;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
   position: absolute;
 }
 .wrapper .toggler:before {
   text-align: right;
   content: attr(span-prev);
   left: -100%;
 }
 .wrapper .toggler:after {
   text-align: left;
   content: attr(span-next);
   right: -100%;
 }
 .wrapper .toggler .tgl, .wrapper .toggler .tgl:active {
   position: absolute;
   visibility: hidden;
   height: 0;
   width: 0;
 }
 
 .wrapper .toggler .checkbox-label:before:hover {
   cursor: pointer;
 }
 .wrapper .toggler .toggle:checked + .checkbox-label:before {
   left: calc(100% - 50px);
 }
 .wrap {
   transition: 0.2s opacity;
 }
 .price2 {
   display: none;
 }
 .price1 {
   display: block;
 }
 
 {#**** TOGGLE DESIGN ***#}
 .tgl {
   display: none;
 }
 .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
   box-sizing: border-box;
 }
 .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
   background: none;
 }
 .tgl + .tgl-btn {
   outline: 0;
   display: block;
   {#width: 4.25em;#}
   height: 2em;
   position: relative;
   cursor: pointer;
   user-select: none;
   margin: 0 auto;
 }
 .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
   position: relative;
   display: block;
   content: "";
   width: 50%;
   height: 100%;
 }
 .tgl + .tgl-btn:after {
   left: 0;
 }
 .tgl + .tgl-btn:before {
   display: none;
 }
 .tgl:checked + .tgl-btn:after {
   left: 50%;
 }
 .tgl-ios + .tgl-btn {
   background:  transparent;
   border-radius: 2em;
   padding: 2px;
   transition: all 0.4s ease;
 }
 .tgl-ios + .tgl-btn:after {
   border-radius: 2em;
   transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
 }
 .tgl-ios + .tgl-btn:hover:after {
   will-change: padding;
 }
 .tgl-ios + .tgl-btn:active {
   box-shadow: inset 0 0 0 2em #e8eae9;
 }
 .tgl-ios + .tgl-btn:active:after {
   padding-right: 0.8em;
 }
 .tgl-ios:checked + .tgl-btn {
   background: transparent;
 }
 .tgl-ios:checked + .tgl-btn:active {
   box-shadow: none;
 }
 .tgl-ios:checked + .tgl-btn:active:after {
   margin-left: -0.8em;
 }
 
 
 @media (max-width: 992px) {
   .toggler-label-right,
   .toggler-label-left {
     width: 43%; 
   }
 } 
 
 @media (max-width: 922px) {
   .toggler-label-right,
   .toggler-label-left {
     width: 40%; 
   }
 }
 
 @media (max-width: 575px) {
   .wrapper .toggler:after {
     right: 20px 
   }
   .wrapper .toggler:before {
     left: 10px; 
   }
   .toggler-label-right,
   .toggler-label-left {
     width: 32%; 
   }
   .toggler-label-right {
     top: auto; 
   }
 }
 
 
 @media (max-width: 575px) {
   .highlight-pack.hhs-price-inner {
     margin-top: 0px;
   }
 }
 
 
 
 {# ==========================================================================
 4. TEMPLATE MODULE SELECTORS                                         
 ========================================================================== #}
 
 #hs-pwd-widget-password {
   margin-bottom: 15px;
   height: auto !important;
   margin-top: 0px !important;
 }
 
 
 {# ==========================================================================
 Blog                                         
 ========================================================================== #}
 
 
 .social-sharing-wrapper {
   clear: both;
 }
 
 {#* 
 * Blog Commments 
 *
 * Custom styles are listed below, as the COS does not provide default styles.
 #}
 
 #comments-listing {
   margin-bottom: 30px;
   margin-top: 30px;
 }
 .comment {
   margin: 10px 0;
   padding: 15px 0;
 }
 .comment-date { font-size: 0.8em; display: block !important;  }

 .comment-body { padding: 10px 0; }
 
 {#** RESPONSIVE VIDEO IN BLOG  ***#}
 
 .hs-embed-wrapper,
 .hs-responsive-embed-wrapper,
 .hs-responsive-embed { 
   position: relative; 
   height: 0; 
   overflow: hidden; 
   padding-top: 0; 
   padding-left: 0; 
   padding-right: 0; 
   max-width: none !important;
   max-height: none !important;
 }
 
 
 
 .hs-responsive-embed-target-iframe,
 .hs-responsive-embed iframe, 
 .hs-responsive-embed object, 
 .hs-responsive-embed embed { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   border: 0; 
 }
 
 .hs-responsive-embed, 
 .hs-responsive-embed.hs-responsive-embed-youtube, 
 .hs-responsive-embed.hs-responsive-embed-wistia, 
 .hs-responsive-embed.hs-responsive-embed-vimeo { 
   padding-bottom: 56.25%; 
 }
 
 {# ==========================================================================
 Forms
 ========================================================================== #}
 
 .form-title {
   margin-bottom: 30px;
 }
 
 .legal-consent-container {
   margin: 5px 0 15px;
 }
 
 .legal-consent-container .hs-dependent-field {
   margin-bottom: 20px;
 }
 
 {#*** CUSTOM SUBMIT BUTTON ININE WITH INPUT FIELD ****#}
 
 .cta-input-inline {
   position: relative; 
 }
 
 .cta-input-inline *, 
 .cta-input-inline form *:after, .cta-input-inline form *:before{
   box-sizing:border-box;
 }
 .cta-input-inline form > div:first-child{
   display:inline-block;
   width:100%;
 }
 .cta-input-inline .hs_email,
 .cta-input-inline .hs_email input{ 
   width:100%;
   display:inline-block;
 }
 .cta-input-inline .hs_submit{
   position: absolute;
   top: 24px;
   right: 0px;
 }
 
 .cta-input-inline .submit-alt .hs-button.primary,
 .cta-input-inline .hs-button.primary {
   padding-top: 14px;
   padding-bottom: 13px;
   margin-right: -2px;
 }
 
 body .cta-input-inline input[type="email"] {
   margin-bottom: 0px; 
 }
 
 .hubspot-link__icon {
   margin-bottom: 4px !important; 
 }
 
 .hs_submit .actions {
   margin-top: 0em; 
 }
 
 
 {# All Global Forms
 ========================================================================== #}
 
 {# Labels #}
 body label {
   margin-bottom: 5px;
   font-weight: 700;
 }
 body .hs-form-field > label {}
 
 
 body input[type="text"]:focus,
 body input[type="password"]:focus, 
 body input[type="datetime"]:focus, 
 body input[type="datetime-local"]:focus, 
 body input[type="date"]:focus, 
 body input[type="month"]:focus, 
 body input[type="time"]:focus, 
 body input[type="week"]:focus, 
 body input[type="number"]:focus, 
 body input[type="email"]:focus, 
 body input[type="url"]:focus, 
 body input[type="search"]:focus, 
 body input[type="tel"]:focus, 
 body input[type="color"]:focus,
 body input[type="file"]:focus,
 body textarea:focus,
 body select:focus {
   outline: 0;
   box-shadow: none;
 }
 
 {# Separate Styles for Multiple Line Inputs #}
 body textarea {
   min-height: 200px;
 }
 
 {# Separate Styles for Drop Downs #}
 body select {
   -webkit-appearance: none;
   background: #ffffff url("https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/select-drop-down-arrows.png") no-repeat right center;
   background-size: 14px 33px;
 }
 
 {# Multiple Selection Inputs #}
 body form.hs-form .hs-form-field ul.inputs-list {
   list-style: none;
   padding: 0;
 }
 
 .hs-form fieldset.form-columns-1 input[type="checkbox"], 
 .hs-form fieldset.form-columns-1 input[type="radio"] { 
   width: auto !important
 }
 
 
 .form-simple label {
   display: none !important;
 }
 
 {# Form Module
 ========================================================================== #}
 
 {# Form Field #}
 .hs_cos_wrapper_type_form .hs-form-field {position: relative;margin-bottom: 15px;}
 
 
 {# Labels #}
 .hs_cos_wrapper_type_form label {line-height: 20px;}
 
 {# One Line Inputs #}
 .hs_cos_wrapper_type_form input[type="text"],
 .hs_cos_wrapper_type_form input[type="password"], 
 .hs_cos_wrapper_type_form input[type="datetime"], 
 .hs_cos_wrapper_type_form input[type="datetime-local"], 
 .hs_cos_wrapper_type_form input[type="date"], 
 .hs_cos_wrapper_type_form input[type="month"], 
 .hs_cos_wrapper_type_form input[type="time"], 
 .hs_cos_wrapper_type_form input[type="week"], 
 .hs_cos_wrapper_type_form input[type="number"], 
 .hs_cos_wrapper_type_form input[type="email"], 
 .hs_cos_wrapper_type_form input[type="url"], 
 .hs_cos_wrapper_type_form input[type="search"], 
 .hs_cos_wrapper_type_form input[type="tel"], 
 .hs_cos_wrapper_type_form input[type="color"],
 .hs_cos_wrapper_type_form input[type="file"],
 .hs_cos_wrapper_type_form textarea,
 .hs_cos_wrapper_type_form select {
   padding: 8px 8px 9px;
 }
 
 
 {# Blog Comment Form
 ========================================================================== #}
 
 #comment-form label span {
   vertical-align: middle;
 }
 
 {# Inputs #}
 #comment-form input[type="text"] {
   display: inline-block;
 }
 
 #comment-form input[type="checkbox"] {margin-right: 10px;}
 
 
 
 {# Blog Subscription Form
 ========================================================================== #}
 
 
 {# Inputs #}
 
 #hs_form_target_blog_subscription input[type="email"], .widget-type-blog_subscribe input[type="email"]{
   float: left;
   margin-top: 2px;
   text-align: left !important;
   margin-bottom: 15px;
 }
 #hs_form_target_blog_subscription input[type="email"]:focus {}
 
 #hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
   width: auto;
   margin-right: 10px;
 }
 
 
 {# HUBSPOT SEARCH FORM
 ========================================================================== #}
 
 
 .hhs-search-modal.modal {
   max-width: 100%;
   z-index: 100000;
 }
 .hs-search-field__suggestions {
   background-color: #fff; 
   max-height: 200px;
   overflow: scroll;
   text-align: left !important;
 }
 
 .hs-search-field--open .hs-search-field__suggestions {
   border-color: transparent;
   -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
   box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
 }
 
 .hs-search-field__suggestions li a {
   padding: 5px 10px;
   color: #000;
 }
 
 
 .hs-search-field__suggestions li a:hover .hs-search-highlight {
   color: #ffffff; 
 }
 
 #results-for {
   background-color: #f4f4f4;
   padding: 5px 10px;
 }
 


 
 {# HUBSPOT SEARCH FORM IN MODAL
 ========================================================================== #}
 
 
 .hhs-search-modal {
   position: relative; 
 }
 
 .hhs-pop {overflow: visible !important;}
 
 .hhs-pop.hhs-modal.hhs-search-modal {
   padding: 20px 40px !important; 
 }
 
 
 .hhs-search-modal .hs-search-field__input {
   box-sizing: border-box;
   width: 100%;
   font-size: 32px !important;
   border: none;
 }
 
 
 .hhs-search-modal .hs-search-field__input  {
   -webkit-box-shadow: none !important;
   -moz-box-shadow: none !important;
   -o-box-shadow: none !important;
   -ms-box-shadow: none !important;
   box-shadow: none !important; 
 }
 
 .hhs-search-modal button {
   position: absolute;
   top: 0;
   right: -5px;
   height: 100%;
   display: block;
   border: none;
   font-size: 24px;
   -webkit-border-radius: 0 8px 8px 0;
   border-radius: 0 8px 8px 0;
 }
 
 .hhs-search-modal button i {
   color: #fff;
   padding: 0 40px;
 }
 
.hhs-search-modal.modal a.close-modal {
 right: -25px; 
}

 .hhs-search-modal .hs-search-field__suggestions {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 .hhs-search-modal .hs-search-field--open .hs-search-field__suggestions {
   border: 1px solid #000;  
 }
 .hhs-search-modal .hs-search-field__suggestions li {
   display: block;
   margin: 0;
   padding: 0;
 }
 .hhs-search-modal .hs-search-field__suggestions #results-for {
   font-weight: bold;
 }
 .hhs-search-modal .hs-search-field__suggestions a,
 .hhs-search-modal .hs-search-field__suggestions #results-for {
   display: block;
 }
 .hhs-search-modal .hs-search-field__suggestions a:hover,
 .hhs-search-modal .hs-search-field__suggestions a:focus {
   background-color:  rgba(0,0,0, .1);
   outline: none;
 }
 
 .blocker {
   z-index: 10000; 
 }
 
 
 @media (max-width: 575px) {
   .search-results h1 {
     text-align: left !important;
   }
   .search-results .padding40tb {
     padding: 0px;
   }
 }
 
 
 {#*** commodore MODAL OVERIDES *****#}
 
 .hhs-pop .hhs-pop-the-form {
   padding: 50px 0;
 }
 
 .blocker {z-index:100000 !important;}
 .hhs-pop.hhs-modal {
   padding: 60px 0px 60px;
   z-index: 1000000;
   position: relative;
 }
 .hhs-pop.hhs-modal .hhs-pform .hs-form-required {
   display: none !important;
 }
 .hhs-pop.hhs-modal .hs-form {
   margin-top: 0;
 }
 @media (min-width: 922px) {
   .hhs-pop .vert-align {
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flexbox;
     display: flex;
     align-items: center;
     -webkit-align-items: center;
     justify-content: center;
     -webkit-justify-content: center;
   }
   .hhs-pop .vert-align.rev-order {
     flex-direction: row-reverse;
     -webkit-flex-direction: row-reverse;
   }
 }
 
 .hhs-pop .hhs-page-center {
   max-width: 1000px;
   margin: 0 auto !important;
   float: none !important;
 }
 
 .hhs-pop a.hhs-cta-button, .hhs-pop a.hhs-cta-button:link, .hhs-pop a.hhs-cta-button:active, .hhs-pop a.hhs-cta-button:visited, .hhs-pop a.hhs-cta_button, .hhs-pop a.hhs-cta_button:link, .hhs-pop a.hhs-cta_button:active, .hhs-pop a.hhs-cta_button:visited {
   color: #fff;
   text-decoration: none;
 }
 
 
 {#***************************************#}
 {#                 FORMS                 #}
 {#***************************************#}
 
 .hhs-pop .hhs-pform input, .hhs-pop .hhs-pform select, .hhs-pop .hhs-pform textarea {
   -webkit-appearance: none;
   color: #555;
   padding: 10px;
   background-color: #f5f5f5;
   border: 1px solid #aaaaaa;
 }
 .hhs-pop .hhs-pform .hs-button.primary {
   background-color: #ffaf03;
   color: #fff;
   text-align: center;
   padding: 15px 12px;
   min-width: 93.5% !important;
 }
 
 @media (max-width: 992px) {
   .hhs-pop .hhs-pform .hs-button.primary {
     min-width: 100% !important;
   }
 }
 
 .hhs-pop .hhs-pform .hs-button.primary:hover {
   background-color: rgba(255, 175, 3, .7);
 }
 
 {# ========================= #}
 {#           FORM            #}
 {# ========================= #}
 
 .hhs-pop .hhs-pform .hs-button.primary {
   padding: 10px;
   font-size: 24px;
   background: transparent;
   color: #ffaf03;
   border: 3px solid #ffaf03;
   margin-top:10px;
   min-width:100%;
   max-width: 100%;
   white-space: normal;
   display: block;
   -webkit-transition-duration: .3s;
   -moz-transition-duration: .3s;
   transition-duration: .3s;
 }
 .hhs-pop .hhs-pform .hs-button.primary:hover {
   background: #ffaf03;
   color: #fff;
 }
 
 .hhs-pop .hhs-pform .hs-form {
   margin-top:45px;
 }
 .hhs-pop .hhs-pform ul.inputs-list {
   -webkit-padding-start: 0;
 }
 .hhs-pop .hhs-pform .hs-form-radio {
   list-style-type:none;
 }
 .hhs-pop .hhs-pform .hs-form-booleancheckbox {
   list-style-type:none;
 }
 .hhs-pop .hhs-pform .hs-form fieldset {
   max-width: none !important;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-1 .input {
   margin-right: 0!important;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-2 .input {
   margin-right: 8px;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-2 .hs-form-field:last-child .input {
   margin-right: 0;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-3 .input {
   margin-right: 12px;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-3 .hs-form-field:last-child .input {
   margin-right: 0;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-1 .hs-input {
   width: 100%!important;
 }
 .hhs-pop .hhs-pform .hs-form fieldset.form-columns-1 input[type=checkbox], .hhs-pop .hs-form fieldset.form-columns-1 input[type=radio] {
   width:auto!important;
 }
 .hhs-pop .hhs-pform .hs-form-field .hs_email {
   display:inline-block;
 }
 
 body .hhs-pop .hhs-pform input[type="text"]:focus,
 body .hhs-pop .hhs-pform input[type="password"]:focus, 
 body .hhs-pop .hhs-pform input[type="datetime"]:focus, 
 body .hhs-pop .hhs-pform input[type="datetime-local"]:focus, 
 body .hhs-pop .hhs-pform input[type="date"]:focus, 
 body .hhs-pop .hhs-pform input[type="month"]:focus, 
 body .hhs-pop .hhs-pform input[type="time"]:focus, 
 body .hhs-pop .hhs-pform input[type="week"]:focus, 
 body .hhs-pop .hhs-pform input[type="number"]:focus, 
 body .hhs-pop .hhs-pform input[type="email"]:focus, 
 body .hhs-pop .hhs-pform input[type="url"]:focus, 
 body .hhs-pop .hhs-pform input[type="search"]:focus, 
 body .hhs-pop .hhs-pform input[type="tel"]:focus, 
 body .hhs-pop .hhs-pform input[type="color"]:focus,
 body .hhs-pop .hhs-pform input[type="file"]:focus,
 body .hhs-pop .hhs-pform textarea:focus,
 body .hhs-pop .hhs-pform select:focus {}
 body .hhs-pop .hhs-pform label {
   font-size: 16px;
   letter-spacing: 0.5px;
   line-height: 20px;
 }
 
 .hhs-pop .hhs-pform ul.inputs-list li {
   list-style: none;
 }
 
 .hs-fieldtype-checkbox > label {
   margin-bottom: 15px;
   display: block;
 }
 .hs-fieldtype-radio > label {
   margin-bottom: 15px;
   display: block;
 }
 
 body .hhs-pop .hhs-pform input[type="checkbox"] {
   -webkit-appearance: checkbox;
   box-sizing: border-box;
 }
 
 body .hhs-pop .hhs-pform input[type="radio"] {
   -webkit-appearance: radio;
   box-sizing: border-box;
 }
 
 body .hhs-pop .hhs-pform input[type="radio"], body .hhs-pop .hhs-pform input[type="checkbox"] {
   background-color: initial;
   cursor: default;
   margin: 3px 0.5ex;
   padding: initial;
   border: initial;
 }
 
 .hhs.hhs-modal.modal .hs-richtext {
   height: auto !important;
   width: 300px !important;
 }
 .hhs.hhs-modal.modal .hs-richtext img {
   height: auto !important;
   width: 300px !important;
 }
 .hhs-pop .hhs-pform .hs-form fieldset[class*="form-columns"] input[type="radio"].hs-input {
   width: auto;
   margin-right: 10px;
 }
 .hhs-pop .hhs-pform .hs-form fieldset[class*="form-columns"] input[type="checkbox"].hs-input {
   width: auto;
   margin-right: 10px;
 }
 .hhs-pop .hhs-pform form.hs-form fieldset[class*="form-columns"] .hs-input {
   width: 100%;
   height: auto;
 }
 
 .submitted-message p {
   font-weight: bold;
   font-size: 22px;
 }
 
 @media (max-width: 575px) {
   .hhs-pop.hhs-modal {
     padding: 50px 0px;
   }
 }
 
 
 {# Multi Column Form
 ========================================================================== #}
 
 {# Multiple Selection Inputs #}
 body form.hs-form .hs-form-field ul.inputs-list li input {}
 body input[type="radio"] {}
 body input[type="checkbox"] {}
 body form.hs-form fieldset { max-width: none; margin-bottom: 0px; }
 body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
 body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
 body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
 body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
 body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }
 
 @media (max-width: 400px) {
   body form.hs-form fieldset .hs-form-field { padding: 0; }
   body form.hs-form fieldset.form-columns-3 .hs-form-field,
   body form.hs-form .form-columns-2 .hs-form-field .hs-input, 
   body form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100% !important; }
   body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
 }
 
 
 {# Form Error Selectors
 ========================================================================== #}
 .hsformerror{
   font-size: 12px!important;
   border: 0 !important;
   color: #FFF!important;
   background-image: none!important;
   -webkit-box-shadow: none!important;
   -moz-box-shadow: none!important;
   box-shadow: none!important;
   z-index: 99999 !important;
 }
 
 
 {# ==========================================================================
 Buttons                                              
 ========================================================================== #}
 
 {# Blog Comment Button
 ========================================================================== #}
 
 
 {# Blog comment "reply to" section #}
 .comment-reply-to{
   background: transparent!important;
   padding-left: 0px!important;
 }
 .comment-reply-to:before{
   content: "\f3e5";
   display: inline-block;
   font-family: "Font Awesome 5 Free";
   font-style: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin-right: 7px;
   font-size: 15px;
   vertical-align: top;
 }
 
 {# Blog Subscription Button
 ========================================================================== #}
 
 
 {# ==========================================================================
 Custom Style                                                    
 ========================================================================== #}
 
 
 .body-container.container-fluid {
   padding-right: 0 !important;
   padding-left: 0 !important;
 }


 
 {# Landscape tablet and smaller devices
 ========================================================================== #}
 
 @media (max-width: 922px) { 
   .header-container-wrapper{
     position: relative;
   }
   .header-container{
     padding: 0;
   }
   .header-container .hs_cos_wrapper_type_logo a img {
     max-width: 120px;
     max-height: 35px !important;
     margin: 0px 0 0px 10px;
   }
 
   .row-fluid [class*="span"].header-cta{
     position: absolute;
     right: 70px;
     top: 8px;
   }
   {# General #}
   .body-container-wrapper {
     padding-top: 0;
   }
   .sidebar.right,
   .main-content,
   .blog-sidebar {
     margin: 25px 0;
   }
   .hhs-team-member-con {
     margin-top: 50px !important; 
   }
   .social-tagline {
     text-align: center;
     margin-bottom: 15px;
   }
 
   {# Blog #}
   #comment-form {
     margin-bottom: 25px;
   }
   .logo-white {
     float:left !important;
   }
   .logo-white img {
     float: left;
   }
   .widget-type-logo {
     position: absolute;
     top: 17px;
   }
   .left-col-detail {
     float: left;
     width: 100%;
   }
   .left-col-detail i.fa {
     display: contents;
   }
   .left-col-detail #sticker-sticky-wrapper #sticker {
     position: static !important; 
   }
   .hhs-form-con {
     max-width: 100% !important;
   }
 
   .ourLogos-section{
     padding: 0 !important; 
   }
   .hhs-gallery-card {
     margin-bottom: 50px !important; 
   }
   .hhs-text-content {padding: 0px !important;}
   .hhs-form-con-1 {max-width: 100% !important;}
 }

 
 
 
 {# Landscape phones and smaller devices
 ========================================================================== #}
 
 @media (max-width: 575px) {
   .body-container-wrapper {
     padding-top: 0px;
   }
   .cta-input-inline .hs_submit {
     float: none;
     width: auto;
   }
   .cta-input-inline form > div:first-child {
     width: 100%;
   }
   .post-item h2 {
     text-align: left;
   }
 
   .hhs-search-modal .hs-search-field__input {
     font-size: 18px !important; 
     margin-bottom: 0px;
   }
   .hhs-pop.hhs-modal.hhs-search-modal{
     padding: 10px !important; 
   }
   .hhs-search-modal button {
     font-size: 16px; 
   }
   .hhs-search-modal button i{
     padding: 0 20px !important;
   }
   .hhs-video-con {max-width:100% !important;}
 
   .hhs-footer {padding: 30px 0px !important;}
 
   .hhs-form-con {
     max-width: 100% !important; 
   }
 }
 
 
 img {
   height: auto !important;
   max-width: 100%;
}
 

 {# Fix testimonials on smaller widths #}
 @media (max-width: 992px) {
   .testimonial-avatar, .person-info {
     float: none !important;
     max-width: 100% !important;
   }
 }
 
 .hubspot-link__container {
   top: 7px !important;
   padding-bottom: 0px !important;
 }
 
 
 {#** BOOTSTRAP GRID ADDITIONS **#}
 
 @media (max-width: 922px) {
   .order-1-tablet {order: 1 !important;}
   .order-2-tablet {order: 2 !important;}
   .order-3-tablet {order: 3 !important;}
   .order-4-tablet {order: 4 !important;}
   .order-5-tablet {order: 5 !important;}
   .order-6-tablet {order: 6 !important;}
 
 }

 
 @media (max-width: 575px) {
   .order-1-mobile {order: 1 !important;}
   .order-2-mobile {order: 2 !important;}
   .order-3-mobile {order: 3 !important;}
   .order-4-mobile {order: 4 !important;}
   .order-5-mobile {order: 5 !important;}
   .order-6-mobile {order: 6 !important;}
 }

 
 {#** OVERRIDES **#}
 
 .hubspot-link__container.sproket .hubspot-link__icon {margin-top: -4px !important;}
 
 .header-container.container-fluid {
   padding-right: 0px;
   padding-left: 0px;
 }
 
 .row {
   margin-right: 0px !important; 
   margin-left: 0px !important; 
 }
 
 .hubspot-link__container.sproket {
   display: none !important;
   opacity: 0 !important;
   visibility: hidden !important;
 }
 
 div#preload {
   display: none;
 }

{#**** PULSING CIRCLE ***#}


.pulsating-circle {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translateX(-50%) translateY(-50%);
  width: 20px;
  height: 20px;
}

.pulsating-circle:before {
 content: '';
  position: relative;
  display: block;
  width: 300%;
  height: 300%;
  box-sizing: border-box;
  margin-left: -100%;
  margin-top: -100%;
  border-radius: 45px;
  background-color: {{ theme.ui_bits.pulse_color.color }};
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; 
}

 
.pulsating-circle:after {
 content: '';
  position: absolute;
  left: 0; 
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: {{ theme.ui_bits.pulse_color.color }};
  border-radius: 15px;
  box-shadow: 0 0 8px rgba({{ theme.ui_bits.pulse_color.color|convert_rgb }},.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite; 
}


@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

 
