<!--
  templateType: blog_post
  isAvailableForNewContent: true
  screenshotPath: ../../images/screenshots/blog-post-6-2.jpg
  label: COMMODORE - BLOG - Post Page
-->
{% extends '../layouts/base.html' %}

{% if theme.blog.post_page.use_sticky_nav %}
  {% require_js %}
    <script>
      var element = document.getElementById("hhs-main-nav");
      element.classList.add("hhs-alt-nav");
    </script>
  {% end_require_js %}
{% endif %}

{############ TRANSLATE ELEMENTS ############}

{% set blog_lang = html_lang %}

{% if blog_lang == 'en' or blog_lang == 'en-us' %}
  {% set read_time = 'min read' %}

{% elif blog_lang == 'it' %}
  {% set read_time = 'lettura minuti' %}

{% elif blog_lang == 'fr' %}
  {% set read_time = 'lecture des minutes' %}

{% elif blog_lang == 'fi' %}
  {% set read_time = 'minuutin luku' %}

{% elif blog_lang == 'de' %}
  {% set read_time = 'Min. Lesezeit' %}

{% elif blog_lang == 'es' %}
  {% set read_time = 'minuto leído' %}

{% else %}
  {% set read_time = 'min read' %}
{% endif %}


<!---- SETS THE COLUMN SIZES OF POST HEADER ---->

{% if !theme.blog.post_page.header.post_feat_img %}
  {% set col_1_size = "col-12" %}
{% else %}

  {% if theme.blog.post_page.header.col_arrangement == "opt1" %}
    {% set col_1_size = "col-lg-6 col-sm-12" %}
    {% set col_2_size = "col-lg-6 col-sm-12" %}
  {% endif %}
  {% if theme.blog.post_page.header.col_arrangement == "opt2" %}
    {% set col_1_size = "col-lg-4 col-sm-12" %}
    {% set col_2_size = "col-lg-8 col-sm-12" %}
  {% endif %}
  {% if theme.blog.post_page.header.col_arrangement == "opt3" %}
    {% set col_1_size = "col-lg-8 col-sm-12" %}
    {% set col_2_size = "col-lg-4 col-sm-12" %}
  {% endif %}
  {% if theme.blog.post_page.header.col_arrangement == "opt4" %}
    {% set col_1_size = "col-lg-5 col-sm-12" %}
    {% set col_2_size = "col-lg-7 col-sm-12" %}
  {% endif %}
  {% if theme.blog.post_page.header.col_arrangement == "opt5" %}
    {% set col_1_size = "col-lg-7 col-sm-12" %}
    {% set col_2_size = "col-lg-5 col-sm-12" %}
  {% endif %}
  {% if theme.blog.post_page.header.col_arrangement == "opt6" %}
    {% set col_1_size = "col-lg-9 col-sm-12" %}
    {% set col_2_size = "col-lg-3 col-sm-12" %}
  {% endif %}

  {% if theme.blog.post_page.header.col_arrangement == "opt7" or theme.blog.post_page.header.col_arrangement == "opt8" %}
    {% set col_1_size = "col-lg-12" %}
  {% endif %}

{% endif %}

<!--- END ---->

{% if theme.blog.post_page.header.post_feat_img and theme.blog.post_page.header.col_arrangement == "opt8" %}
  {% require_css %}
  <style>
    .blog-header-full {
      background: transparent url({{ content.featured_image }}) no-repeat center center;
      background-size: cover;
      position: relative;
    }
    .blog-head-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba({{ theme.blog.post_page.header.overlay_color.color|convert_rgb }}, {{ theme.blog.post_page.header.overlay_color.opacity * 0.01 }});
      z-index: 0;
    }
    .post-header {
      position: relative;
      z-index: 2;
    }
  </style>
  {% end_require_css %}
{% endif %}


{% block body %}

<div class="post-page-full">
  <div class="blog-header-full">
    <div class="blog-header post-header {% if content.featured_image %}container{% else %}container-slim content-area-width{% endif %}">
      <div class="blog-header__inner row">
        <div class="{% if content.featured_image %}{{ col_1_size }}{% else %}col-lg-12{% endif %}">
          <p class="reading-minutes">
            {% set initialPostWords = content.post_body|striptags|wordcount %}
            {% set calculatedPostWords = (initialPostWords/100) * 100 %}
            {% set finishedPostWords = calculatedPostWords|divide(300)|round(2) %}
            {% set number = finishedPostWords|round %}
            {% if number < 1 %}

            {% else %}
            {{ finishedPostWords|round }} {{ read_time }}
            {% endif %}
          </p>
          <h1 class="blog-post__title">{{ content.name }}</h1>
          <div class="blog-post__meta">
            <p>
              <span class="meta-author"> 
                <a href="{{ group.absolute_url }}/author/{{ content.blog_post_author.slug }}">
                    {% if content.blog_author.avatar %}<img class="blog-index__post-author-image" src="{{ content.blog_author.avatar }}" loading="lazy" style="width: 30px;" alt="Picture of {{ content.blog_author.display_name }}"> {% endif %}{{ content.blog_post_author.display_name }}
                </a>{% if theme.blog.post_page.header.author && theme.blog.post_page.header.pub_date %} : {% endif %}
              </span>
              <span class="blog-post__timestamp">
                {{ content.publish_date_localized }}
              </span>
            </p>
          </div>
          {% if content.tag_list %}
          <div class="blog-post__tags">
            {% for tag in content.tag_list %}
              <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% if theme.blog.post_page.header.post_feat_img and theme.blog.post_page.header.col_arrangement != "opt7" %}
          {% if theme.blog.post_page.header.col_arrangement != "opt8" %}
            {% if content.featured_image %}
              <div class="{{ col_2_size }}">
                <img src="{{ content.featured_image }}" style="width: 100%;" alt="{{ content.name|striptags }}" />
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      {% if theme.blog.post_page.header.post_feat_img and theme.blog.post_page.header.col_arrangement == "opt7" %}
        <div class="row">
          <div class="col-12">
            {% if content.featured_image %}
              <img src="{{ content.featured_image }}" style="width: 100%;" alt="{{ content.name|striptags }}" />
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
    {% if theme.blog.post_page.header.post_feat_img and theme.blog.post_page.header.col_arrangement == "opt8" %}
      <div class="blog-head-overlay"></div>
    {% endif %}
  </div>

  <div class="{% if theme.blog.post_page.content_area.add_sidebar %}container{% else %}container-slim content-area-width{% endif %}">
    <div class="blog-post row">
      <div class="blog-post__body {% if theme.blog.post_page.content_area.add_sidebar %}col-lg-8 col-sm-12{% else %}col-12{% endif %}">
        {{ content.post_body }}
        {% if theme.blog.post_page.content_area.post_social %}
          <div class="social-sharing-wrapper">
            {% blog_social_sharing "blog_social_sharing" overrideable=False, label='Blog Social Sharing' %}
          </div>
        {% endif %}
      </div>
      {% if theme.blog.post_page.content_area.add_sidebar %}
        <div class="col-lg-4 col-sm-12">
          {% module "module_161781321019150" path='../../modules/commodore - Blog - Sidebar', label="commodore Pro - Blog - Sidebar" %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if theme.blog.post_page.content_area.post_comments %}
  <div class="container-slim">
    <div class="row">
      <div class="blog-comments col-12">
        {% module "blog_comments" path="@hubspot/blog_comments", label="Blog Comments" %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if theme.blog.post_page.show_related_posts %}
    {% module "module_163458965508094" path="../../modules/commodore - Blog - Post Grid Cards - Post", label="Related Post Grid Cards - Post" %}
  {% endif %}
  {% if theme.blog.post_page.show_real_related_posts %}
    {% module "module_16841720648803" path="../../modules/commodore Pro - Related Blog Posts", label="commodore Pro - Related Blog Posts" %}
  {% endif %}
</div>
{% endblock body %}
