<!--
  templateType: email_subscriptions_confirmation_page
  isAvailableForNewContent: true
  screenshotPath: ../../images/screenshots/email-sub-conf.jpg
  label: commodore - Email Subscriptions Confirmation - Commodore
-->
{% extends "../layouts/base.html" %}
{% if theme.system_pages.sub_prefs.use_sticky_nav %}
  {% require_js %}
    <script>
      var element = document.getElementById("hhs-main-nav");
      element.classList.add("hhs-alt-nav");
    </script>
  {% end_require_js %}
{% endif %}

{% block body %}
<div class="sub-pre-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Update Successful</h1>
        <p>You have successfully updated your email preferences.</p>
      </div>
    </div>
  </div>
  <div class="head-overlay"></div>
</div>
<div class="sub-pref-full">
  <div class="container-slim">
    <div class="row">
      <div class="col-12">
        <div class="systems-page">
          {% module "subscriptions_confirmation" path="@hubspot/email_subscriptions_confirmation" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
