<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/screenshots/home-8-6-2.jpg
  label: Home - Opt 8 - Commodore
--> 
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
  {% dnd_area "dnd_area" class='body-container', label='Main section' %}
  
  <!----------------------- HEADER FOOTER OVERRIDES  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "header_footer_overrides"
        path='../modules/commodore - Style - Header Footer Override',
        label="Header Footer Override",
        offset=0,
        use_alt_nav=false
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- HERO BANNER  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "hero_baner_1"
        path='../modules/commodore - Hero Banner',
        label="Hero Banner",
        offset=0
      %}
        {% module_attribute "start" is_json=True %} 
          {
            "num_cols": "1",
            "col_arrangement": "opt5"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "rotating_text": false,
            "content": "<h1>No need to call the geek squad.</h1><h4>You heard that right! You wont need to involve the development team one bit with commodore. You can get straight to business marketing your company.</h4><p></p><a href='#' class='cta-primary'>Call To Action</a>",
            "style": {
              "content_align": "left",
              "content_align_mobile": "left",
              "font_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "col_content_type": "rich_text",
            "content": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/isometric/commodore-idea-large.png' alt='Isometric Design' />"
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "gradient",
            "bg_color_1": {
              "color": "#00a4bd",
              "opacity": 100
            },
            "bg_color_2": {
              "color": "#00bda5",
              "opacity": 100
            },
            "bg_gradient_angle": "45deg",
            "overlay_bg": "none",
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "100px",
              "padding_top_tablet": "100px",
              "padding_bottom_tablet": "100px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "50px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_1"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True  %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt2"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gifs/funny/cape.gif' alt='Hand you the cape' />",
            "settings": {
              "show_divider": false,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<h3>Ready to put on the cape?</h3><p>You are about to become the company hero with how epic you are at creating, managing, optimizing your website.&nbsp; Great ready for that raise and big fat bonus check at the end of the year.</p>",
            "settings": {
              "show_divider": false,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "0px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "0px",
              "padding_bottom_mobile": "0px"
            },
            "style": {
              "pull_up": true,
              "content_bg_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "pull_up_num_desktop": 75,
              "pull_up_num_tablet": 0,
              "pull_up_num_mobile": 50,
              "con_padding": 50,
              "con_padding_tablet": 15,
              "con_padding_mobile": 25,
              "no_padding_btm": true
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- ICON & TEXT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module 'icon_text_1'
        path='../modules/commodore - Row - Icon with Text',
        label="Icon with Text",
        offset=0
      %}
        {% module_attribute "icon_options" is_json=True  %}
          {
            "num_cols": "3",
            "icon_type": "hs_list",
            "size": 38
          }
        {% end_module_attribute %}
        {% module_attribute "content_group" is_json=True  %}
          {
            "column_1": {
              "content": "<h4>Magical</h4><p>So easy to customize you will think you have developed super powers.</p>"
            },
            "column_2": {
              "content": "<h4>No Coding Required</h4><p><span>Build to leverage the Hubspot CMS making it simple to create and optimize webpages.</span></p>"
            },
            "column_3": {
              "content": "<h4>Mobile Ready</h4><p>Each template is<span>responsive and designed to look awesome on all devices.</span></p>"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True  %}
          {
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "25px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}

      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- SPACER  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module 'spacer_1'
        path='../modules/commodore - Item - Spacer',
        label="Spacer",
        offset=0,
        divider_line=true,
        divider_line_color={
          'color': '#33475b',
          'opacity': 30
        }
      %}
        {% module_attribute "opts" is_json=True  %}
          {
            "spacer_size": "10px",
            "spacer_size_tablet": "25px",
            "spacer_size_mobile": "25px",
            "spacer_width": "container",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 0
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_2"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h3>How to get Started</h3>",
            "settings": {
              "show_divider": false,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<p>Here is an overview of whats next and little demo at the same time.</p>",
            "settings": {
              "show_divider": false,
              "align_desktop": "right",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- CARD FLIPPERs -----------------------> 
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "card_flippers_1"
        path='../modules/commodore - Row - Card Flippers',
        label="Card Flippers",
        offset=0
      %}
        {% module_attribute "start" is_json=True  %}
          {
            "num_cols": "3",
            "card_height_desktop": 300,
            "card_height_tablet": 300,
            "card_height_mobile": 300,
            "drop_shadow": true,
            "card_boarder_color": {
              "color": "#cccccc",
              "opacity": 100
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "front": {
              "image": {
                "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/isometric/commodore-iso-marketing.png"
              },
              "bg_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "text": "Click me and watch me do a flip."
            } 
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "front": {
              "image": {
                "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/isometric/commodore-iso-marketing.png"
              },
              "bg_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "text": "Click me and watch me do a flip."
            } 
          }
        {% end_module_attribute %}
        {% module_attribute "col_3" is_json=True %}
          {
            "front": {
              "image": {
                "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/isometric/commodore-iso-marketing.png"
              },
              "bg_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "text": "Click me and watch me do a flip."
            } 
          }
        {% end_module_attribute %}

        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

 
<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='TOP'
    %}
      {% dnd_module "multi_col_content_2"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt3"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg' alt='example' />",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "center",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<h3>Let Me Show You.</h3><p><span>In this video I show you just how simple and customizable the templates are to work with. If you are new to Hubspot or using templates, you will definitely want to give this a watch. You can also take a look at my documentation page and the commodore Module Library.</span></p>",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "left",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "25px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_3"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True  %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True  %}
          {
            "content": "<h2>Tons of Resources to Help</h2><h4>Yep. This custom module lets you pull in posts from your blog.</h4>",
            "settings": {
              "align_desktop": "center",
              "align_mobile": "center",
              "show_divider": true,
              "custom_text_color": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "10px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- BLOG POST THUMBNAIL ROWS  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "blog_post_thumb_1"
        path='../modules/commodore - Row - Blog Post Thumbnails',
        label="Blog Post Thumbnails",
        offset=0
      %}
        {% module_attribute "start" is_json=True  %}
          {
            "blog": "4042034181",
            "num_cols": "-4",
            "num_posts": 3,
            "post_type": "recent"
          }
        {% end_module_attribute %}
        {% module_attribute "style" is_json=True  %}
          {
            "settings": {
              "align_desktop": "center",
              "align_mobile": "center",
              "show_divider": true,
              "custom_text_color": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
 
<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_4"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True  %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True  %}
          {
            "content": "<h2>Doing backflips.</h2><p>It might not seems like building a website would be that exciting. Just watch. Using commodore will have you back flippin around the room.</p>",
            "settings": {
              "align_desktop": "center",
              "align_mobile": "center",
              "show_divider": true,
              "custom_text_color": true,
              "text_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#000000",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "0px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_5"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True  %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True  %}
          {
            "content": "<h3>You are up next!</h3><h4>Dont worry. Its way easier than it looks.</h4>",
            "add_form": true,
            "settings": {
              "align_desktop": "left",
              "align_mobile": "left",
              "show_divider": false,
              "custom_text_color": true,
              "text_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "left",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "image",
            "bg_image": {
              "src": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/heros/backflip.jpg"
            },
            "bg_size": "cover",
            "bg_position": "left center",
            "content_width": "container",
            "adv_settings": {
              "padding_top": "150px",
              "padding_bottom": "150px",
              "padding_top_tablet": "100px",
              "padding_bottom_tablet": "100px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "50px"
            },
            "overlay_bg": "gradient",
            "overlay_color_1": {
              "color": "#000000",
              "opacity": 100
            },
            "overlay_color_2": {
              "color": "#000000",
              "opacity": 0
            },
            "overlay_angle": "top"
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>
{% endblock body %}