<!--
  templateType: page
  isAvailableForNewContent: true
  screenshotPath: ../images/screenshots/home-4-6-2.jpg
  label: Home - Opt 4 - Commodore
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main class="body-container-wrapper">
    {% dnd_area "dnd_area" class='body-container', label='Main section' %}

 <!----------------------- HEADER FOOTER OVERRIDES  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "header_footer_overrides"
        path='../modules/commodore - Style - Header Footer Override',
        label="Header Footer Override",
        offset=0,
        use_alt_nav=false
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    
<!----------------------- HERO BANNER  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "hero_baner"
        path='../modules/commodore - Hero Banner',
        label="Hero Banner",
        offset=0
      %}
        {% module_attribute "start" is_json=True %} 
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "rotating_text": true,
            "text_beginning": "Think about all the time you will have to ",
            "text_rotating": "Relax, Netflix n Chill, Work on Your Tan, Scroll Instagram, Shop on Amazon",
            "text_end": ".",
            "content": "<h4>Yep, the commodore series will even let you create rotating headlines.&nbsp; How cool is that?</h4><p></p><a href='#' class='cta-primary'>Call to Action</a>",
            "style": {
              "content_align": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "video",
            "video_clip": [
              {            
                "mp4": "https://cdn2.hubspot.net/hubfs/19522085/commodore-images/video/commodore-vid-new-relax.mp4"
              }
            ],
            "overlay_bg": "gradient",
            "color_1": {
              "color": "#000000",
              "opacity": 80
            },
            "color_2": {
              "color": "#000000",
              "opacity": 0
            },
            "gradient_angle": "45deg",
            "content_width": "container",
            "adv_settings": {
              "padding_top": "200px",
              "padding_bottom": "150px",
              "padding_top_tablet": "100px",
              "padding_bottom_tablet": "100px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "50px"
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_1"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt2"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>I totally get it. You wear a ton of hats.</h2>",
            "settings": {
              "show_divider": false,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<h4>The commodore series was created to make your life as a marketing wizard waaaaay easier.</h4><p>Creating, managing and optimizing your website doesn not need to be that awkward, ill-fitting winter beanie your grandmother gave you in back in 1985.</p>",
            "settings": {
              "show_divider": true,
              "align_desktop": "left",
              "align_mobile": "left"
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "0px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "0px",
              "padding_bottom_mobile": "0px"
            },
            "style": {
              "pull_up": true,
              "content_bg_color": {
                "color": "#ffffff",
                "opacity": 100
              },
              "pull_up_num_desktop": 100,
              "pull_up_num_tablet": 0,
              "pull_up_num_mobile": 0,
              "con_padding": 25,
              "con_padding_tablet": 15,
              "con_padding_mobile": 25,
              "no_padding_btm": true
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_2"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "1"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>Commodore, Modern, and Adaptable</h2><p>No one wants their website to look like a template. Especially designers... Yak, Ugh, Blah! Thats why I created the commodore series for Hubpsot. Its good looking out of the gates and ready to be adapted to suite your brand.</p>",
            "settings": {
              "align_desktop": "center",
              "align_mobile": "center",
              "show_divider": true,
              "custom_text_color": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color": "#f2f5f8",
              "opacity": 100
            },
            "content_width": "container-slim",
            "adv_settings": {
              "padding_top": "50px",
              "padding_bottom": "50px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='TOP'
    %}
      {% dnd_module "multi_col_content_2"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt3"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg' alt='example' />",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "center",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<h3>Let Me Show You.</h3><p><span>In this video I show you just how simple and customizable the templates are to work with. If you are new to Hubspot or using templates, you will definitely want to give this a watch. You can also take a look at my documentation page and the commodore Module Library.</span></p>",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "left",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "25px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "25px",
              "padding_top_mobile": "50px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='TOP'
    %}
      {% dnd_module "multi_col_content_3"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt2"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h3>Let Me Show You.</h3><p><span>In this video I show you just how simple and customizable the templates are to work with. If you are new to Hubspot or using templates, you will definitely want to give this a watch. You can also take a look at my documentation page and the commodore Module Library.</span></p>",
            "settings": {
              "align_desktop": "right",
              "align_mobile": "left",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<img src='https://cdn2.hubspot.net/hubfs/19522085/commodore-images/gfx/commodore-video-embed-sml.jpg' alt='example' />",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "center",
              "show_divider": false
            }
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "color",
            "bg_color": {
              "color:": "#ffffff",
              "opacity": 0
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "25px",
              "padding_bottom": "25px",
              "padding_top_tablet": "25px",
              "padding_bottom_tablet": "25px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
 
<!----------------------- TESTIMONIAL SCROLLER ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "testimonial_scroller"
        path='../modules/commodore - Row - Testimonial Scroller',
        label="Testimonial Scroller",
        offset=0
      %}
        {% module_attribute "testimonial" is_json=True %}
          [
            {
              "testimonial": {
                "quote":"Retro gluten-free enamel pin vexillologist twee pug. Banjo DIY disrupt activated charcoal. Portland live-edge subway tile pok pok, swag deep v lo-fi biodiesel art party bicycle rights fashion axe etsy neutra. Knausgaard green juice copper mug synth vegan.",
                "image": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/gfx/temp-avatar.jpg"
                },
                "test_name": "Sam Smith",
                "test_title": "Marketing Director"
              }
            },
            {
              "testimonial": {
                "quote":"Im baby lumbersexual selvage literally post-ironic swag subway tile scenester lomo everyday carry. Four loko deep v copper mug fashion axe. Yr listicle DIY neutra trust fund adaptogen hoodie. Chartreuse chia semiotics street art, skateboard letterpress truffaut.",
                "image": {
                  "src": "https://cdn2.hubspot.net/hubfs/19522085/gfx/temp-avatar.jpg"
                },
                "test_name": "Bob Burns",
                "test_title": "Marketing Director"
              }
            }
          ]
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_color": {
              "color": "#ffffff",
              "opacity": 100
            },
            "content_width": "container",
            "adv_settings": {
              "padding_top": "100px",
              "padding_bottom": "100px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}

      {% end_dnd_module %}
    {% end_dnd_section %}


<!----------------------- MULTI-COLUMN CONTENT  ----------------------->
    {% dnd_section
      padding={
        'top': 0,
        'bottom': 0,
        'left': 0,
        'right': 0
      },
      full_width='true',
      vertical_alignment='MIDDLE'
    %}
      {% dnd_module "multi_col_content_4"
        path='../modules/commodore - Row - Multi-Column Content',
        label="Multi-Column Content",
        offset=0
      %}
        {% module_attribute "start" is_json=True %}
          {
            "num_cols": "2",
            "two_col_arrangement": "opt3"
          }
        {% end_module_attribute %}
        {% module_attribute "col_1" is_json=True %}
          {
            "content": "<h2>So, what are you waiting for...</h2><h4>Team buy-in? Quarterly budget approval from your CEO?</h4><p>Maybe just your morning coffee to kick your brain into full gear?&nbsp; Once you have got it, a beautiful &amp; effortless experience building your website awaits.&nbsp;</p>",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "left",
              "show_divider": false,
              "custom_text_color": true,
              "text_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            }
          }
        {% end_module_attribute %}
        {% module_attribute "col_2" is_json=True %}
          {
            "content": "<h3>So, what are you waiting for...</h3>",
            "settings": {
              "align_desktop": "left",
              "align_mobile": "left",
              "show_divider": false,
              "custom_text_color": true,
              "text_color": {
                "color": "#ffffff",
                "opacity": 100
              }
            },
            "add_form": true,
            "submit_alt": true
          }
        {% end_module_attribute %}
        {% module_attribute "row_settings" is_json=True %}
          {
            "bg_type": "gradient",
            "color_1": {
              "color": "#00a4bd",
              "opacity": 100
            },
            "color_2": {
              "color": "#00bda5",
              "opacity": 100
            },
            "gradient_angle": "45deg",
            "content_width": "container",
            "adv_settings": {
              "padding_top": "150px",
              "padding_bottom": "150px",
              "padding_top_tablet": "50px",
              "padding_bottom_tablet": "50px",
              "padding_top_mobile": "25px",
              "padding_bottom_mobile": "25px"
            },
            "style": {
              "pull_up": false
            }
          }
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}

{% end_dnd_area %}
</main>
{% endblock body %}
